<!-- Created by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.aboutus}} hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

	<ion-content has-header="true" scroll-detector class="padding cust_content_margin">

      <div class="item item-text-wrap-custom">
        {{savedlang.aboutusweat}} <b>{{savedlang.companyname}}</b> {{savedlang.cmpnydetails}}
      </br></br>
      {{savedlang.appdetails}}
</br></br>
      {{savedlang.applessdetails}} <b>{{savedlang.appname}}</b>{{savedlang.appmoredetails}}</br>
      </div>
</br>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-light">
    <p class="title cust_terms"><span><a ng-click="GoToLink('http://kidorohealth.com/terms/terms-of-use/')" class="telephone">{{savedlang.terms}}</a></span>
      <span style="color:#ddd">&nbsp&nbsp|&nbsp&nbsp</span><span><a ng-click="GoToLink('http://kidorohealth.com/terms/privacy-policy/')" class="telephone">{{savedlang.privacy}}</a></span></p>
    </div>
  </ion-footer-bar>
</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
