<!-- Created by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.address}} hide-back-button="true" cache-view="false">

<ion-nav-buttons side="left">
<button class="button button-icon button-royal" ui-sref="menu.previewPrescription">
  <i class="icon ion-ios-arrow-left"></i>
</button>
</ion-nav-buttons>

<ion-content has-header="true" scroll-detector class="padding cust_content_margin">

<div class="list addressviewlist">
  <label class="item item-input item-stacked-label addressviewlabel">
    <span class="input-label addressviewinputlabel">{{savedlang.Name}}</span>
    <input type="text" placeholder={{savedlang.Nameplchdr}} ng-model="userAddress.name" required>
  </label>

  <label class="item item-input item-stacked-label addressviewlabel">
    <span class="input-label addressviewinputlabel">{{savedlang.Address}}</span>
    <input type="text" placeholder={{savedlang.Addressplchdr}} ng-model="userAddress.address" required>
  </label>
  <label class="item item-input item-stacked-label addressviewlabel">
    <span class="input-label addressviewinputlabel">{{savedlang.Landmark}}</span>
    <input type="text" placeholder={{savedlang.Landmarkplchdr}} ng-model="userAddress.landmark" required>
  </label>
  <label class="item item-input item-stacked-label addressviewlabel">
    <span class="input-label addressviewinputlabel">{{savedlang.City}}</span>
    <input type="text" placeholder={{savedlang.Cityplchdr}} ng-model="userAddress.city" required>
  </label>
  <label class="item item-input item-stacked-label addressviewlabel">
    <span class="input-label addressviewinputlabel">{{savedlang.State}}</span>
    <input type="text" placeholder={{savedlang.Stateplchdr}} ng-model="userAddress.state" required>
  </label>
  <label class="item item-input item-stacked-label addressviewlabel">
    <span class="input-label addressviewinputlabel">{{savedlang.Pincode}}</span>
    <input type="number" placeholder={{savedlang.Pincodeplchdr}} ng-model="userAddress.pincode" required>
  </label>
  <label class="item item-input item-stacked-label addressviewlabel">
    <span class="input-label addressviewinputlabel">{{savedlang.phnnumbr}}</span>
    <input type="number" placeholder={{savedlang.phnnumbrplchdr}} ng-model="userAddress.phone" required>
  </label>
</div>

</ion-content>

<div class="button footer_btn" ng-click="placeOrder()">{{savedlang.placeorder}}</div>

</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
