<!-- Created by Sarswati Kumar Pandey -->

<ion-view hide-back-button="true" scroll="false" cache-view="false">
  <ion-nav-title class="cust_title_apt">
      {{savedlang.aptdtls}}
    </ion-nav-title>
  <ion-nav-buttons side="left">
  <button ng-click="goToHomePage()" class="button back-button buttons  button-clear header-item" tabindex="0">
    <i class="icon ion-ios-arrow-left"></i>
      <span class="back-text"></span></button>
      </ion-nav-buttons>
	<ion-content has-header="true" scroll="false" class="cust_content_margin">
    <div class="list list-inset">
      <div class="item item-icon-left appointmentdetails_item">
        <i class="icon ion-calculator-content_apt icon_cust"></i>
        {{appointmentCnfData.Appointment_ID}}
      </div>
      <div class="item item-icon-left appointmentdetails_item">
        <i class="icon ion-person-content_apt icon_cust"></i>
        {{appointmentCnfData.Doctor_Name}}
      </div>
      <div class="item item-icon-left appointmentdetails_item">
        <i class="icon ion-ios-medkit-content_apt icon_cust"></i>
         {{appointmentCnfData.Hospital_Name}}
      </div>
      <div class="item item-icon-left appointmentdetails_item">
        <i class="icon ion-ios-time-content_apt icon_cust"></i>
        {{appointmentCnfData.Appointment_Time}}<span>{{appointmentCnfData.Appointment_Time_Id}}</span>
      </div>
      <div class="item item-icon-left item-text-wrap appointmentdetails_item">
        <i class="icon ion-ios-location-content_apt icon_cust"></i>
          {{selectedDoctorData.Address}}
      </div>
      <div class="item item-icon-left appointmentdetails_item">
        <i class="icon ion-ios-telephone_apt icon_cust"></i><p class="hospital_ext">{{savedlang.aptext}} {{selectedDoctorData.Hospital_Ext}}
          <a href="#" class="telephone" ng-href="tel: {{savedlang.commonPhoneNumber}}"><i class="doc_txt_color">{{savedlang.calldoc}}</i></a>
        </p>
      </div>
      <div class="item item-icon-left details_label">
        <p class="details_label_text">{{savedlang.urdetails}}</p>
      </div>
      <div class="item item-icon-left appointmentdetails_item">
        <i class="icon ion-email_apt icon_cust"></i>
        {{user.User_Mail}}
      </div>
      <div class="item item-icon-left appointmentdetails_item">
        <i class="icon ion-ios-telephone_apt icon_cust"></i>
          {{user.User_Phone}}
      </div>
    </div>
  </ion-content>
  <div class="footer">
    <div class="button-bar cust_footer_bar">
    <a class="button cust_ftr_btn_left" ng-click="showConfirm()"><div class="cust_direction">{{savedlang.cancel}}</div></a>
    <a class="button cust_ftr_btn_right" ng-click="GoToLink('https://maps.google.com/maps/?q={{selectedDoctorData.Address}}')"><div class="cust_direction">{{savedlang.direction}}</div></a>
  </div>
</div>
</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
