<!-- Created by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.apntmnts}} hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-content has-header="true" ng-show="showLogin" class="cust_content_margin bg_content_apt">
    <div class="item item-inset remove_border bg_content_apt">
      <h2 class="cust_color_booking_txt bg_content_apt">{{savedlang.logintoviewapt}}</h2>
    </div>
  </ion-content>

	<ion-content class="has-header bg_content_apt" ng-show="!showLogin">

    <div class="item item-inset remove_border bg_content_apt" ng-show = "showError">
      <h2 class="cust_color_booking bg_content_apt">{{appointmentErrorList}}</h2>
    </div>


    <div class="card card_shadow" ng-repeat="data in appointmentList | orderBy: ['-Appointment_Status', '-Appointment_Date', '-Appointment_Time'] ">
      <div class="item item_cust_color">
        <div ng-click="appointmentDetails(data)">
      <div class="item item_cust_color">
        {{data.Doctor_Name}}

        <span class="badge badge-assertive-visited" ng-show="data.Appointment_Status == Visited">{{data.Appointment_Status}}</span>
        <span class="badge badge-assertive-confirm" ng-show="data.Appointment_Status == Confirmed">{{data.Appointment_Status}}</span>
        <span class="badge badge-assertive-cancel" ng-show="data.Appointment_Status == Cancelled">{{data.Appointment_Status}}</span>

        <p>{{data.Hospital_Name}}</p>
      </div>
      <div class="item item_cust_color row">
        <div class="col cust_title icons_doc">
          <img src="./img/calender.png" class="icons_doc" style="height: 36px; width: 40px;">
        </div>
        <div class="col cust_title icons_doc">
          <img src="./img/TIME.png" class="icons_doc" style="height: 36px; width: 40px;">
        </div>

      </div>
      <div class="item item_cust_color row cust_padding_bottom">
        <div class="col cust_title">
          <p>
            {{data.Appointment_Date}}
          </p>
        </div>
        <div class="col cust_title ">
          <p >
            {{data.Appointment_Time}} <span>{{data.Appointment_Time_Id}}</span>
          </p>
        </div>

      </div>
    </div>
      <div class="row remove_row_padding">
          <div class="button-bar" ng-show = "data.Appointment_Status == Confirmed">
            <a class="col button cust_btn_color" ng-click="showConfirm(data)"><span class="cust_margin_text">{{savedlang.cancel}}</span></a>
            <a class="col button cust_btn_color" ng-click="OtherShare(data.Doctor_Name, data.Hospital_Name, data.Appointment_Date, data.Appointment_Time, data.Appointment_Time_Id)"><span class="cust_margin_text">{{savedlang.share}}</span></a>
          </div>

          <div class="button-bar" ng-show = "data.Appointment_Status == Cancelled || data.Appointment_Status == Visited">
            <a class="button cust_btn_color" ng-click="bookAppointment()"><span class="cust_margin_text">{{savedlang.bookantrapt}}</span></a>
          </div>

      </div>
    </div>
  </div>

    <br>
  </ion-content>
</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
