<!-- Created by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.aptdtls}} cache-view="false">
  <ion-nav-buttons side="left">
  <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" tabindex="0">
      <span class="back-text"></span></button>
      </ion-nav-buttons>
      <ion-content has-header="true" class="cust_content_margin" scroll="false">

        <div class="list list-inset">
          <div class="item item-icon-left appointmentdetails_item">
            <i class="icon ion-calculator-content_apt icon_cust"></i>
            {{aptData.Appointment_ID}}
          </div>
          <div class="item item-icon-left appointmentdetails_item">
            <i class="icon ion-person-content_apt icon_cust"></i>
            {{aptData.Doctor_Name}}
          </div>
          <div class="item item-icon-left appointmentdetails_item">
            <i class="icon ion-ios-medkit-content_apt icon_cust"></i>
             {{aptData.Hospital_Name}}
          </div>
          <div class="item item-icon-left appointmentdetails_item">
            <i class="icon ion-ios-time-content_apt icon_cust"></i>
            {{aptData.Appointment_Time}}<span>{{aptData.Appointment_Time_Id}}</span>
          </div>
          <div class="item item-icon-left item-text-wrap appointmentdetails_item">
            <i class="icon ion-ios-location-content_apt icon_cust"></i>
              {{docLocList.Address}}
          </div>
          <div class="item item-icon-left appointmentdetails_item">
            <i class="icon ion-ios-telephone_apt icon_cust"></i><p class="hospital_ext">{{savedlang.aptext}} {{docLocList.Hospital_Ext}}
              <a href="#" class="telephone" ng-href="tel: {{savedlang.commonPhoneNumber}}"><i class="doc_txt_color">{{savedlang.calldoc}}</i></a>
            </p>
          </div>
          <div class="item item-icon-left details_label">
            <p class="details_label_text">{{savedlang.urdetails}}</p>
          </div>
          <div class="item item-icon-left appointmentdetails_item">
            <i class="icon ion-email_apt icon_cust"></i>
            {{user.User_Mail}}
          </div>
          <div class="item item-icon-left appointmentdetails_item">
            <i class="icon ion-ios-telephone_apt icon_cust"></i>
              {{user.User_Phone}}
          </div>
        </div>

      </ion-content>
</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
