<ion-header-bar class="bar-positive">
      <h1 class="title">I have a Baby</h1>
      <button class="button button-positive" ng-click="Back()">Back</button>
    </ion-header-bar>
    <ion-content>

    <div class="list">



  <label class="item item-input item-stacked-label">
    <span class="input-label">My Name</span>
    <input type="text" ng-model="KidoroUser.name" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">My Weight (In kgs)</span>
    <input type="text" ng-model="KidoroUser.weight" placeholder="77">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">My Height (In cms)</span>
    <input type="text" ng-model="KidoroUser.height" placeholder="156">
   </label>
   <label class="item item-input item-stacked-label" ng-click="goToKidsDetails()">Detail of my Baby
   
  </label>
  <button ng-click="doSignUp()">submit</button>
    </ion-content>

    </div>
    </ion-content>



