<ion-view>
  <ion-nav-title>
    {{savedlang.selcttimeslot}}
  </ion-nav-title>

  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal">
        <i class="icon ion-ios7-arrow-back"></i>
    </button>
  </ion-nav-buttons>

  <ion-content scroll-detector>

    <div class = "calenderBooking">
      <ion-scroll direction="x" class="wide-as-needed">
        <table border="1" style="width:100%" class="table_booking">
          <tr id="myTr"></tr>
        </table>
      </ion-scroll>
    </div>
    <div><p class="cust_date_label">{{dateLabel}}</p></div>

    <div ng-show="div1" class="hideByDefault">
      <img src="img/morning.png" alt="" class="booking_baby_image"/>
    </div>

    <div ng-show="div2" class="hideByDefault">
      <img src="img/afternoon.png" alt="" class="booking_baby_image"/>
    </div>

    <div ng-show="div3" class="hideByDefault">
      <img src="img/evening.png" alt="" class="booking_baby_image"/>
    </div>

    <!-- testing -->
    <div class="button-bar cust_btn_bar">
        <a class="button cust_btn_profile" ng-click="showMorning()" id = "btn_mrng">{{savedlang.mrng}}</a>
        <a class="button cust_btn_profile" ng-click= "showAfternoon()" id = "btn_aftn">{{savedlang.aftrnoon}}</a>
        <a class="button cust_btn_profile" ng-click= "showEvening()" id = "btn_evng">{{savedlang.evng}}</a>
      </div>

      <div ng-show="div1" class="hideByDefault">
        <div class="box">
          <ion-list>
            <div class="margin_booking_time">
              <div class="row booking_time_cust">
                <div ng-hide = "morningTimeArray.length" class="closedDay">
                  <p class="closedDayText">
                    {{close}}
                  </p>
                </div>
                <div class="col col-20 col_padding_booking" ng-repeat="time in morningTimeArray" ng-class="{'selected':time == selectedTime}">
                  <div class="activeTime" ng-click="timeSelect(time)">{{time.time}}</div>
                </div>
              </div>
            </div>
          </ion-list>
      </div>
    </div>

      <div ng-show="div2" class="hideByDefault">
         <div class="box">
           <ion-list>
            <div class="margin_booking_time">
            <div class="row booking_time_cust">
              <div ng-hide = "afternoonTimeArray.length" class="closedDay">
                <p class="closedDayText">
                  {{close}}
                </p>
              </div>
              <div class="col col-20 col_padding_booking" ng-repeat="time in afternoonTimeArray" ng-class="{'selected':time == selectedTime}">
                <div class="activeTime" ng-click="timeSelect(time)">{{time.time}}</div>
              </div>
            </div>
          </div>
      </ion-list>
    </div>
  </div>


      <div ng-show="div3" class="hideByDefault">
        <div class="box">
          <ion-list>
              <div class="margin_booking_time">
              <div class="row booking_time_cust">
                <div ng-hide = "eveninhTimeArray.length" class="closedDay">
                  <p class="closedDayText">
                    {{close}}
                  </p>
                </div>
                <div class="col col-20 col_padding_booking" ng-repeat="time in eveninhTimeArray" ng-class="{'selected':time == selectedTime}">
                  <div class="activeTime" ng-click="timeSelect(time)">{{time.time}}</div>
                </div>
              </div>
            </div>
          </ion-list>
        </div>
      </div>

</ion-content>
<div class="button footer_btn" ng-click="confirmBooking()">{{savedlang.cnf}}</div>

</ion-view>
