<!-- Created by Sarswati Kumar Pandey -->

  <ion-view hide-nav-bar="hideBar">

  <!--   <fab-button target-id="scrollFabButtonTarget" ng-click = "openChatModal()"  >
      <i class="icon ion ion-chatbubbles"></i>
    </fab-button>
 -->
    <ion-header-bar class="cust-bar-header-doc-details">
      <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item cust_btn" tabindex="0"><i class="icon ion-ios-arrow-left"></i>
    <span class="back-text"></span></button>
  </ion-header-bar>

    <ion-content style="top: 0;">

      <div id="container">
        <div id='cover_container' style="background: #E6E6E6;background-size: contain;background-repeat: no-repeat;background-image: url('{{selctedDoctorDetails.locCover}}');">
          <div id='info_box'>

            <div id="profile_img" ng-click="showFullImage(selctedDoctorDetails.Doc_Pic)" class="profilePic_shadow">
              <img ng-show="selctedDoctorDetails.Doc_Pic === null" ng-src="./img/noimage2.png" class='avatar_img'/>
              <img ng-show="selctedDoctorDetails.Doc_Pic !== null" src="{{selctedDoctorDetails.Doc_Pic}}" class='avatar_img'>
            </div>

              <div id="info-box">
                <div id="info -name">
                  <p class="text_color_white doc_detail_doc_name">{{selctedDoctorDetails.Doc_Name}} </p>
                      <p class="text_color_white doc_detail_doc_degree">{{selctedDoctorDetails.degree}}</p>
                    <p class="margin_experience icons_doc">{{savedlang.exp}} {{selctedDoctorDetails.Experience}} {{savedlang.yrs}}</p>
                    <p class="margin_speciality icons_doc"> {{selctedDoctorDetails.Specialization}}</p>
                </div>
              </div>

          </div>
        </div>
      </div>

      <div id="container-content">

        <div>
          <div class="row">
              <div class="col col-10 icons_doc">
                <img src="img/home-16.jpg" class="icons_doc margin_hospital_icon">
              </div>
              <div class="col col-90 icons_doc hosp_name_margin">
                <p class="doc_list_label c_name">{{savedlang.clinicname}}</p>
                <p>{{selctedDoctorDetails.Hospital_Name}}</p>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col col-10 icons_doc">
            <img src="img/time.jpg" class="icons_doc margin_hospital_icon">
          </div>
          <div class="col col-90 icons_doc name_margin_day">
            <p class="doc_list_label c_timing">{{savedlang.clinictiming}}</p>
            <p>{{selctedDoctorDetails.locationDays}}</p>

            <p class="timing_cust">{{savedlang.today}} {{timingDay}}</p>
          </div>
      </div>

      <div class="row" ng-show = "selctedDoctorDetails.Consultation_Fee !== null">
          <div class="col col-10 icons_doc">
            <img src="img/rupee.png" class="icons_doc margin_hospital_icon">
          </div>
          <div class="col col-90 icons_doc name_margin_day">
            <p class="doc_list_label c_timing">{{savedlang.consultantfee}}</p>
            <p><span ng-bind-html='savedlang.rupeeSymbol'></span> {{selctedDoctorDetails.Consultation_Fee[0].firstVisit}}</p>
          </div>
      </div>

      <div class="row" ng-show="selctedDoctorDetails.Recommendations !== null">
          <div class="col col-10 icons_doc">
            <img src="img/recommend.jpg" class="icons_doc margin_hospital_icon">
          </div>
          <div class="col col-90 icons_doc name_margin text-container">
              <p class="doc_list_label c_review">{{savedlang.clinicreview}}</p>
                <div class="text-content short-text" ng-bind-html='selctedDoctorDetails.Recommendations'></div>
                <div class="show-more"><a href="#">{{savedlang.showmore}}</a></div>
          </div>
      </div>

      <div class="row" ng-show="selctedDoctorDetails.Services != null">
          <div class="col col-10 icons_doc">
            <img src="img/home-20.jpg" class="icons_doc margin_hospital_icon spl_icon">
          </div>
          <div class="col col-90 icons_doc name_margin">
            <p class="doc_list_label c_services">{{savedlang.clinicsrvices}}</p>

            <p  class="services_list" ng-repeat="service in selctedDoctorDetails.Services | limitTo: limit">
               <i class="icon ion-record"></i>{{service.name}}
            </p>
          <div ng-show = "selctedDoctorDetails.Services.length>2">
            <a class="more_less_show" ng-click="incrementLimit()" ng-show="showMore">{{savedlang.showmore}}</a>
            <a class="more_less_show" ng-click="decrementLimit()" ng-show="!showMore">{{savedlang.showfewer}}</a>
          </div>
          </div>
      </div>



      <div class="row" ng-show="selctedDoctorDetails.Special_Features != null">
          <div class="col col-10 icons_doc">
            <img src="img/home-20.jpg" class="icons_doc margin_hospital_icon spl_icon">
          </div>
          <div class="col col-90 icons_doc name_margin">
            <p class="doc_list_label c_services">{{savedlang.clinicfeatures}}</p>

            <p  class="services_list" ng-repeat="features in selctedDoctorDetails.Special_Features | limitTo: limitFeature">
               <i class="icon ion-record"></i>{{features.name}}
            </p>

            <div ng-show = "selctedDoctorDetails.Special_Features.length>2">
              <a class="more_less_show" ng-click="incrementFeatureLimit()" ng-show="showMoreFeature">{{savedlang.showmore}}</a>
              <a class="more_less_show" ng-click="decrementFeatureLimit()" ng-show="!showMoreFeature">{{savedlang.showfewer}}</a>
            </div>
          </div>
      </div>






<div>
        <div class="row">
            <div class="col col-10 icons_doc">
              <img src="img/location.jpg" class="icons_doc margin_hospital_icon">
            </div>
            <div class="col col-90 icons_doc name_margin">
              <p class="doc_list_label c_address">{{savedlang.clinicaddress}}</p>
              <p>  {{selctedDoctorDetails.Address}}</p>

              <div ng-click="GoToLink('https://maps.google.com/maps/?q={{mapAddress}}')">
                <img src="https://maps.googleapis.com/maps/api/staticmap?center={{mapAddress}}&zoom=15&size=533x275&sensor=false&maptype=roadmap&markers=color:red|{{mapAddress}}" class="full-map">
                <br/><br/><br/>
              </div>
            </div>
        </div>
    </div>

    </div>
  </ion-content>

 <div class="button footer_btn" ng-click="sendData()">{{savedlang.booknow}}</div>

</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
