<!-- Created by Sarswati Kumar Pandey -->

<ion-view >

  <ion-nav-title ng-click="openModal()">
      {{selectedlocality}} <i class="icon ion-android-arrow-dropdown adjust_loc_icon"></i>
    </ion-nav-title>

  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal">
        <i class="icon ion-ios7-arrow-back"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon button-royal" ng-click="openDocSplFiltrModal()">
        <i class="icon ion-ios-search"></i>
    </button>
  </ion-nav-buttons>

   <ion-header-bar class="bar-light bar-subheader" style="padding:0px">

          <div class="button-bar" style="height:55px; box-shadow: 0px 0px 7px #000000;">
            <a class="button doc_list_btn" id = "btn_gyno" ng-click="showgynlst()" style="border-color: #009999; border-width: 1px 0px 1px 0px;" ><div class="doc_list_btn_txt">{{savedlang.gyno}}</div></a>
            <a class="button doc_list_btn" id = "btn_paed" ng-click= "showPdrtcn()" style="border-color: #009999; border-width: 1px 0px 1px 0px;"><div class="doc_list_btn_txt">{{savedlang.paed}}</div></a>
          </div>

    </ion-header-bar>

    <ion-content class="has-header bg_content bg_content_rss" ng-show = "selectedlocality != savedlang.alllocality " on-swipe-left="onGesture('leftSwipe')" on-swipe-right="onGesture('rightSwipe')">

     <div class="list card card_shadow"  ng-repeat="data in filteredListData | filter: {Locality: selectedlocality}">
     <div ng-click="sendData(data)">


    <div class="row">
        <div class="col col-33">
          <img ng-src="{{data.docPic}}" style="width: 100%" />
        </div>
        <div class="col col-67 doc_col_margin">

                    <p class="Doctor_name">
                        {{data.Doc_Name}}
                     </p>
                     <p class="Doctor_degree">
                        {{data.degree}}
                     </p>
                     <p ng-show = "data.Experience!==null" class="Doctor_exp">{{savedlang.exp}} {{data.Experience}} {{savedlang.yrs}}</p>
                     <p class="Doctor_speciality tex-wrap">{{data.Speciality}}</p>

        </div>
    </div>


    <div class="row">
         <div class="col col-33 text-center icons_doc">
          <img src="img/location.jpg" >
         <p ng-bind-html='data.Locality' class="margin_lab_locality"></p>

        </div>
        <div class="col col-33 text-center icons_doc">
          <img src="img/time.jpg" class="icons_doc">
             <p class="tex-wrap locationDays" ng-bind-html='data.locationDays'></p>

        </div >
        <div class="col col-33 text-center icons_doc">
          <img src="img/rupee.png" class="icons_doc">
             <p class="tex-wrap doc_fee" ng-show = "data.Consultation_Fee!==null"><span ng-bind-html='savedlang.rupeeSymbol'></span> {{data.Consultation_Fee[0].firstVisit}}</p>
        </div>
    </div>
    </div>
     <div class="item item_top_border">

    <div class="row cust_row">
        <div class="col col-10 icons_doc">
          <img src="img/hospital.png" class="icons_doc margin_hospital_icon">
        </div>

         <div class="col col-50 cust_col_1">
         <p class="tex-wrap">
         {{data.Hospital_Name}}
        </p>
        </div>
        <div class="col col-33 cust_col_1 cust_col_1_align_right">
            <button class="button button-stable cust_col_1 button_shadow" ng-click="instantBook(data)">{{savedlang.booknow}}</button>
        </div>
    </div>

  </div>
</div>
  <br>
</div>
</ion-content>

<ion-content class="has-header bg_content bg_content_rss" ng-show = "selectedlocality == savedlang.alllocality" on-swipe-left="onGesture('leftSwipe')" on-swipe-right="onGesture('rightSwipe')">
 <div class="list card card_shadow"  ng-repeat="data in filteredListData" >
 <div ng-click="sendData(data)">

<div class="row">
    <div class="col col-33">
      <img ng-src="{{data.docPic}}" style="width: 100%" />
    </div>
    <div class="col col-67 doc_col_margin">

                <p class="Doctor_name">
                    {{data.Doc_Name}}
                 </p>
                 <p class="Doctor_degree">
                    {{data.degree}}
                 </p>
                 <p ng-show = "data.Experience!==null" class="Doctor_exp">{{savedlang.exp}} {{data.Experience}} {{savedlang.yrs}}</p>
                 <p class="Doctor_speciality tex-wrap">{{data.Speciality}}</p>

    </div>
</div>


<div class="row">
     <div class="col col-33 text-center icons_doc">
      <img src="img/location.jpg" >
     <p ng-bind-html='data.Locality' class="margin_lab_locality"></p>

    </div>
    <div class="col col-33 text-center icons_doc">
      <img src="img/time.jpg" class="icons_doc">
         <p class="tex-wrap locationDays" ng-bind-html='data.locationDays'></p>

    </div >
    <div class="col col-33 text-center icons_doc">
      <img src="img/rupee.png" class="icons_doc">
         <p class="tex-wrap doc_fee" ng-show = "data.Consultation_Fee!==null"><span ng-bind-html='savedlang.rupeeSymbol'></span> {{data.Consultation_Fee[0].firstVisit}}</p>
    </div>
</div>
</div>
 <div class="item item_top_border">

<div class="row cust_row">
    <div class="col col-10 icons_doc">
      <img src="img/hospital.png" class="icons_doc margin_hospital_icon">
    </div>

     <div class="col col-50 cust_col_1">
     <p class="tex-wrap">
     {{data.Hospital_Name}}
    </p>
    </div>
    <div class="col col-33 cust_col_1 cust_col_1_align_right">
        <button class="button button-stable cust_col_1 button_shadow" ng-click="instantBook(data)">{{savedlang.booknow}}</button>
    </div>
</div>

</div>
</div>
  <br>
</div>
</ion-content>

</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
