<!-- Created  by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.favlist}}>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-royal" ui-sref="menu.rss">
          <i class="icon ion-ios7-arrow-back"></i>
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon button-royal" ng-click = "deleteFavSelected()" style="background-color:#009999; border-color:#009999" ng-show = "countDeleted>0">
          <span class="badge badge-assertive" style="background-color:#009999; border-color:#009999">{{countDeleted}}<i class="icon ion-ios-trash-outline"></i></span>
      </button>
    </ion-nav-buttons>

<ion-content class="has-header bg_content_rss">

      <div class="list card card_shadow" class="item item-avatar" class="item-avatar" ng-repeat="feed in feeds | orderBy:'time':true" on-swipe-left="removeFeed(feed)">
        <div ng-click="browse(feed.content,feed.publishedDate,feed.title,feed.image,feed.link,feed.categories)">

          <div class="title_list item item-avatar-right" >
            <img src="{{feed.thumb}}">
            <h2 class="cust_feed_title">{{feed.title}}</h2>
            <div width="auto"><span ng-repeat="categories in feed.categories" class="cat_list">{{categories}}</span></div>
            </div>
            <div class="item item-body rssImgItem">

              <img src-lazy="{{feed.image}}" class="ri" src = "./img/cover3.png" />

            </div>
            <div class="item item-body rssImgItem" >
                <p class="simple_content" ng-bind-html='feed.contentSnippet'></p>
            </div>

          </div>

          <div class="row cus_row">
          <div class="col col-30 cust_align cust_date" >{{feed.publishedDate}}</div>

            <div class="col col-10 col-offset-20 cust_align" ng-click="favSelected(feed)">
              <a class="icon ion-ios-heart-new-after"></a>
            </div>
            </div>

        </div>
<br/><br/>
    </ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
