<ion-view view-title="{{savedlang.kidoroChat}}" cache-view = "true">
<ion-header-bar class="bar-light bar-subheader" style="padding: 0px" >

          <div class="button-bar" style="height:55px; box-shadow: 0px 0px 7px #000000;">

            <a class="button doc_list_btn" id = "btn_gyno" style="border-color: #009999;color: #016969;border-left: 0px;" ng-click="momChatClicked()"><div class="doc_list_btn_txt">Moms Chat</div></a>
            <a class="button doc_list_btn" style="border-color: #009999;color: #016969;" id = "btn_paed" ng-click="docChatClicked()"><div class="doc_list_btn_txt">Doctor Chat</div><div class="badge badge-assertive customBadgeHeader" ng-show={{showBadges}} style="top: -42px;left: 50%;">1</div></a>
          </div>

    </ion-header-bar>

 <!--  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons> -->
 <!--  <ion-content has-header="true" class="padding" ng-show = "showChat">

<div class="list list-inset" style="margin:0;">

          <div ng-repeat="message in messages" class="message-wrapper">

              <div ng-if="cssUser !== message.kidoroCode">

                <div class="chat-bubble left">
                  <img class="profile-pic left" ng-src="./img/noimage2.png" g-show = "message.dp == null" width="50px"/>
                  <img class="profile-pic left" ng-src="{{message.dp}}" />

                    <div class="message-detail" style="color: #111">
                        <span class="bold">{{message.user}}</span>,
                        <span>{{message.displayTime}}</span>
                    </div>

                    <div class="message">
                      {{message.text}}
                    </div>
                </div>
                <br/>

              </div>

              <div ng-if="cssUser === message.kidoroCode">


                  <div class="chat-bubble right">
                    <img class="profile-pic right" ng-src="./img/noimage2.png" ng-show = "message.dp == null" width="50px"/>
                    <img class="profile-pic right" ng-src="{{message.dp}}" />

                    <div class="message-detail" style="color: #111">
                        <span class="bold">{{message.user}}</span>,
                        <span>{{message.displayTime}}</span>
                    </div>

                      <div class="message">
                        {{message.text}}
                      </div>



                  </div>


              </div>

          </div>
        </div>
<br><br>
  </ion-content>
 -->
<!-- <ion-footer-bar keyboard-attach class="bar-stable item-input-inset custom_chat_footer" ng-click = "scrollBottom()" ng-show = "showChat">

        <label class="item-input-wrapper" style="height: 45px; background-color: #fff;">
          <input type="text" placeholder="{{savedlang.typeurmsg}}" ng-model = "newmessage.text" />
        </label>

        <div class="footer-btn-wrap">
          <button class="button button-icon icon ion-android-send footer-btn" ng-click="sendMessage(newmessage)" ng-model="data.message"  ng-disabled = "!newmessage.text.length || newmessage.text.length === ''"></button>
        </div>

</ion-footer-bar>
 -->
 <!-- <ion-content scroll="false"> -->
 <!-- <ion-content > -->
    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" >
        <ion-slide>

<ion-content  style="background: white;">
 <div has-header="true" ng-show="!showChat" class="cust_content_margin bg_content_apt">
    <div class="item item-inset remove_border bg_content_apt">
      <h2 class="cust_color_booking_txt bg_content_apt">{{savedlang.plslogintousekidorochat}}
      <div>
        <button class="button button-assertive chatLogin" ng-click="loginButton()"> {{savedlang.login}} </button>
      </div>
      </h2>
   </div>
 </div>

 <div  ng-show = "showChat">
  <div class="list list-inset" style="margin:0;">
        <div ng-repeat="message in messages" class="message-wrapper">
            <div ng-if="cssUser !== message.kidoroCode">

             <div style="float: left;margin: 10px; padding: 0px 16px;">

                <div class="chat-bubble left">
                  <img class="profile-pic left" ng-src="./img/noimage2.png" g-show = "message.dp == null" width="50px"/>
                  <img class="profile-pic left" ng-src="{{message.dp}}" />

                    <div class="message-detail" style="color: #009999;">
                        <span class="bold">{{message.user}}</span>,
                    </div>

                    <div class="message">     {{message.text}}   </div>
                </div>

            <div class="message-detail">
                <span style="float: right; margin: -12px 10px; font-size:11px;">{{message.displayTime}}</span>
            </div>
          </div>
           <br/>
          </div>

        <div ng-if="cssUser === message.kidoroCode">

             <div style="float: right; margin: 14px; padding: 0px 16px;">

                  <div class="chat-bubble right">
                    <img class="profile-pic right" ng-src="./img/noimage2.png" ng-show = "message.dp == null" width="50px"/>
                    <img class="profile-pic right" ng-src="{{message.dp}}" />

                    <div class="message-detail" style="color: #FE2E2E;">
                        <span class="bold">{{message.user}}</span>,
                    </div>

                      <div class="message"> {{message.text}} </div>
                  </div>

                  <div class="message-detail">
                        <span style="float: left; margin: -12px 10px; font-size:11px;">{{message.displayTime}}</span>
                  </div>
                </div>
              </div>
        </div>
         <!-- </ion-content> -->
      </div>
    <br><br>
  </div>

  <!-- <ion-footer-bar keyboard-attach class="bar-stable item-input-inset custom_chat_footer" ng-click = "scrollBottom()">

                <label class="item-input-wrapper" style="height: 45px; background-color: #fff;">
                  <input type="text" placeholder="{{savedlang.typeurmsg}}" ng-model = "newmessage.text" />
                </label>

                <div class="footer-btn-wrap">
                  <button class="button button-icon icon ion-android-send footer-btn" ng-click="sendMessage(newmessage)" ng-model="data.message"  ng-disabled = "!newmessage.text.length || newmessage.text.length === ''"></button>
                </div>

        </ion-footer-bar> -->




    </ion-content >
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset custom_chat_footer" ng-click = "scrollBottom()" ng-show = "showChat">

        <label class="item-input-wrapper" style="height: 45px; background-color: #fff;">
          <input type="text" placeholder="{{savedlang.typeurmsg}}" ng-model = "newmessage.text" />
        </label>

        <div class="footer-btn-wrap">
          <button class="button button-icon icon ion-android-send footer-btn" ng-click="sendMessage(newmessage)" ng-model="data.message"  ng-disabled = "!newmessage.text.length || newmessage.text.length === ''"></button>
        </div>

</ion-footer-bar>
        </ion-slide>

        <!-- </ion-content> -->
        <!-- <ion-content> -->
        <ion-slide >

           <ion-content>
        <div has-header="true" ng-show="!showPrivateChat" class="cust_content_margin bg_content_apt">
    <div class="item item-inset remove_border bg_content_apt">
      <h2 class="cust_color_booking_txt bg_content_apt">{{messageForUser}}
        <div>
        <button class="button button-assertive chatLogin" ng-show="!loggedIn" ng-click="loginButton()">
{{savedlang.login}}
</button>
      </div>
      </h2>
    </div>
  </div>

           <!-- <div class="list list-inset cust_form_list" style="margin: 10px 10px 10px 10px;"> -->
<div  ng-show="showPrivateChat">
<!-- ng-click="openChat(item)" -->
      <div class="item item-avatar item-icon-right" ng-repeat = "item in docList track by $index" ng-click="openChat(item)" style="border-color: #F5F5F5;" >
     <!--  <div ng-click="patientDetails(item)"> -->
      <div class="row rowHeight">
              <div   >
                      <img class="imgstyle" ng-show="item.docPic !== undefined" src={{item.docPic}}></img>
                      <span>
                        <h2 class="h2style">{{item.Doc_Name}}</h2>
                      </span>
                      <span class="badge badge-assertive customBadge" ng-show="item.showBadge">1</span>
              </div>
              <!-- <div class="col-25 ">
                      <span class="badge badge-assertive customBadge" ng-show="item.showBage">1</span>
                      <button class="button button-clear button-calm" ng-show="item.showChat" style="color:#00999;"  ng-click = "sendMessage(item)">{{savedlang.doc.ct}}   </button>
                      <button class="button button-clear button-calm" ng-show="item.showInvite" style="color:#00999;" ng-click="sendInvite(item)">{{savedlang.doc.invt}}
                      </button>

                      <span class="seperator">|</span>
                      <button class="button button-clear button-calm" href="tel: {{item.User_Phone}}"> {{savedlang.doc.call}}
                      </button>
              </div> -->
        </div>


       <!-- </div> -->


      </div>
            </div>
            </ion-content>

            </ion-slide>
        <!-- </ion-content> -->
        <!-- <ion-slide ion-slide-tab-label="<b>boldTest</b>"><h1>Tab 3</h1></ion-slide> -->
    </ion-slide-box>
<!-- </ion-content> -->
</ion-view>
