<!-- Created by Sarswati Kumar Pandey -->

<ion-view hide-back-button="true">
<ion-nav-title>{{savedlang.home}}</ion-nav-title>
<ion-nav-buttons side="left">
<button class="button button-icon button-royal ion-navicon" menu-toggle="left">
</button>
</ion-nav-buttons>

<ion-nav-buttons side="right">
<i class= "ion-ios-bell notify" ng-click="goToNotifications()"><div class="badge badge-assertive customBadgeHeader notifyBadge">{{notifyNo}}</div>
</i>
  <button class="button icon ion-android-more-vertical button-icon" ng-click="popover.show($event)">
  </button>
</ion-nav-buttons>

<ion-content>
  <div class="img_div">
     <img class="cust_img" src-lazy="http://kidorohealth.com/images/App%20cover/cover.jpg" src = "./img/homebg.jpg">
  </div>
  <div class="margin_home">
        <div class="rem_padding row">
          <div class="col-50">
                <a class="button button-block adjustHomeButtonBlock button-light button-left btn_home_frst_row homeBtnBorderClr col_left_home" href="#/menu/rss">
                  <img class="full-image-1" src="./img/home-16.png" height="80" width="40">
                  <div class="divTop">{{savedlang.mombuzz}}</div>
                </a>
          </div>
          <div class="col-50 ">
                <a class="button button-block  adjustHomeButtonBlock button-light btn_home_frst_row homeBtnBorderClr col_right_home" href="#/menu/doclist">
                  <img class="full-image-1" src="./img/home-15.png" height="80" width="40">
                  <div class="divTop">{{savedlang.doctors}}</div>
                </a>
          </div>
        </div>

        <div class="rem_padding row">
          <div class="col-50 ">
                <a class="button button-block  adjustHomeButtonBlock button-light button-left homeBtnBorderClr col_left_home" href="#/menu/PharmaList">
                  <img class="full-image-1" src="./img/home-13.png" height="80" width="40">
                  <div class="divTop">{{savedlang.chemist}}</div>
                </a>
          </div>
          <div class="col-50 ">
                <a class="button button-block  adjustHomeButtonBlock button-light homeBtnBorderClr col_right_home" href="#/menu/groupChat">
                  <img class="full-image-1" src="./img/chat-02.png" height="80" width="40">
                  <div class="divTop"> {{savedlang.chat}}</div>
                </a>
          </div>
        </div>
</div>

  </ion-content>
  </ion-footer-bar>
</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
