<div class="modal image-modal transparent" ng-click="closeModal()">
      <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
          <ion-slide ng-repeat="image in images">
              <img ng-src="{{image.pres_link}}" class="fullscreen-slide" />
           </ion-slide>
      </ion-slide-box>
</div>
