<!-- Created by Sarswati Kumar Pandey -->

<ion-modal-view class="mymodal">

        <ion-header-bar class="bar bar-header">
          <button class="button button-royal-4 icon ion-ios-close-empty" ng-click = "closeModal()"></button>
          <h1 class="title cust_search_modal">{{savedlang.entrcouponCode}}</h1>
        </ion-header-bar>

  <ion-content class="padding cust_content_margin">

                <div class="list">
                  <label class="item item-input">
                    <input type="text" placeholder="{{savedlang.couponCode}}" ng-model = "couponCode">
                  </label>
                  <button class="button button-full button-positive" ng-show="!couponCode.length" style="background-color:#f0565e; border-color:#f0565e;" ng-click="sendcouponCode(couponCode)">{{savedlang.skip}}</button>
                    <button class="button button-full button-positive" ng-show="couponCode.length" style="background-color:#f0565e; border-color:#f0565e;" ng-click="sendcouponCode(couponCode)">{{savedlang.next}}</button>
                  </div>

    </ion-content>

</ion-modal-view>

<!-- Created by Sarswati Kumar Pandey -->
