<!-- Created by Sarswati Kumar Pandey -->

  <ion-view hide-nav-bar="hideBar">
    <ion-header-bar class="cust-bar-header-doc-details">
      <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item cust_btn" tabindex="0"><i class="icon ion-ios-arrow-left"></i>
    <span class="back-text"></span></button>
  </ion-header-bar>
    <ion-content class="no-header" style="top: 0;" scroll-detector>

      <div id="container">
        <div id='cover_container' style="background: #E6E6E6;background-size: contain;background-repeat: no-repeat;background-image: url('{{selectedlabsDetails.Lab_Pic}}');">
          <div id='info_box'>
            <div id="profile_img" ng-click="showFullImage(selectedlabsDetails.Lab_Doctor_Profile)">
              <img ng-show="selectedlabsDetails.LabDoctorProfile === null" ng-src="./img/noimage2.png" class='avatar_img'/>
              <img ng-show="selectedlabsDetails.LabDoctorProfile !== null" src="{{selectedlabsDetails.Lab_Doctor_Profile}}" class='avatar_img'>
            </div>
              <div id="info-box">
                <div id="info-name">
                  <p class="text_color_white">{{selectedlabsDetails.Lab_Doctor}} <br>
                      {{selectedlabsDetails.Lab_Doc_Specialization}}</p>
                    <p class="margin_experience icons_doc"> {{selectedlabsDetails.Lab_Features}}</p>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div id="container-content">


          <div class="row">
              <div class="col col-10 icons_doc">
                <img src="img/home-16.jpg" class="icons_doc margin_hospital_icon">
              </div>
              <div class="col col-90 icons_doc hosp_name_margin">
                <p class="doc_list_label c_name">{{savedlang.labname}}</p>
                <p>{{selectedlabsDetails.Lab_Name}}</p>
              </div>
          </div>


      <div class="row" ng-show = "selectedlabsDetails.Lab_Time !== null">
          <div class="col col-10 icons_doc">
            <img src="img/time.jpg" class="icons_doc margin_hospital_icon">
          </div>
          <div class="col col-90 icons_doc name_margin_day">
            <p class="doc_list_label c_timing">{{savedlang.labtiming}}</p>
            <p>{{selectedlabsDetails.Lab_Time}}</p>
          </div>
      </div>

      <div class="row" ng-show = "selectedlabsDetails.Test_Amount !== null">
          <div class="col col-10 icons_doc">
            <img src="img/rupee.png" class="icons_doc margin_hospital_icon">
          </div>
          <div class="col col-90 icons_doc name_margin_day">
            <p class="doc_list_label c_timing">{{savedlang.totalamt}}</p>
            <p>&#8377; {{selectedlabsDetails.Test_Amount}}</p>
          </div>
      </div>


      <!-- <div class="row" ng-show = "selectedlabsDetails.Lab_Rating !== null">
          <div class="col col-10 icons_doc">
            <img src="img/recommend.jpg" class="icons_doc margin_hospital_icon">
          </div>
          <div class="col col-90 icons_doc name_margin">
            <p ng-bind-html='selectedlabsDetails.Lab_Rating'></p>
          </div>
      </div> -->

      <div class="row" ng-show="selectedlabsDetails.labtest !== null">
          <div class="col col-10 icons_doc">
            <img src="img/home-20.jpg" class="icons_doc margin_hospital_icon lab_hospital_icon">
          </div>
          <div class="col col-90 icons_doc name_margin text-container">
              <p class="doc_list_label c_review">{{savedlang.labtests}}</p>
                <div class="row" ng-repeat="test in allTests | limitTo: limit">
                  <div class="col">
                    {{test.name}}
                  </div>
                  <div class="col" style="text-align:center;">
                    &#8377; {{test.price}}
                  </div>
                </div>
              <div ng-show = "allTests.length>2">
              <a class="more_less_show_lab" ng-click="incrementLimit()" ng-show="showMore">{{savedlang.showmore}}</a>
              <a class="more_less_show_lab" ng-click="decrementLimit()" ng-show="!showMore">{{savedlang.showfewer}}</a>
            </div>
          </div>
      </div>

              <div class="row">
                  <div class="col col-10 icons_doc">
                    <img src="img/location.jpg" class="icons_doc margin_hospital_icon">
                  </div>
                  <div class="col col-90 icons_doc name_margin">
                    <p class="doc_list_label c_address">{{savedlang.labaddress}}</p>
                    <p>  {{selectedlabsDetails.Lab_Address}}</p>

                    <div ng-click="GoToLink('https://maps.google.com/maps/?q={{selectedlabsDetails.Lab_Address}}')">
                      <img src="https://maps.googleapis.com/maps/api/staticmap?center={{selectedlabsDetails.Lab_Address}}&zoom=15&size=533x275&sensor=false&maptype=roadmap&markers=color:red|{{selectedlabsDetails.Lab_Address}}" class="full-map">
                      <br/><br/><br/>
                    </div>
                  </div>
              </div>

  </div>
  </ion-content>
 <div class="button footer_btn" ng-click="bookLabTestNow()">{{savedlang.booknow}}</div>
</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
