<!-- Created by Sarswati Kumar Pandey -->

<ion-view>

  <ion-nav-title ng-click="openModal()">
      {{selectedlocality}} <i class="icon ion-android-arrow-dropdown adjust_loc_icon"></i>
  </ion-nav-title>

  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal"
        ui-sref="menu.labtest">
        <i class="icon ion-ios7-arrow-back"></i>
    </button>
  </ion-nav-buttons>

  <ion-header-bar class="bar-light bar-subheader search_input_padding_left_top cust_search">
      <div ng-hide = "search.length" class="button button-icon ion-ios-search input-button search_icon_position animate-hide check-element">
      </div>
          <input type="search" placeholder={{savedlang.srchlabs}} ng-model="search" class="full-width">

        <div ng-hide = "!search.length" class="button button-icon ion-ios-close-empty  input-button search_icon_position animate-hide check-element" ng-click="clearLabSearch()">
        </div>
  </ion-header-bar>

<ion-content class="has-header bg_content" ng-show = "selectedlocality == savedlang.alllocality ">

  <div class="list card card_shadow"  ng-repeat="data in labList | orderBy : data.Test_Amount  | filter:search track by $index">
    <div>
      <div ng-click="sendData(data)">
      <div class="row">
        <div class="col col-33">
            <img ng-src="{{data.Lab_Doctor_Profile}}" style="width: 100%" />
        </div>
        <div class="col col-67">
          <p class="Doctor_name">
            {{data.Lab_Name}}
          </p>
          <p class="Doctor_speciality">{{data.Lab_Features}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col col-33 text-center icons_doc">
          <img src="img/location.jpg" >
          <p ng-bind-html='data.Lab_Locality' class="margin_lab_list_locality"></p>
        </div>

        <div class="col col-33 text-center icons_doc">
          <img src="img/time.jpg" class="icons_doc">
          <center><p class="tex-wrap">{{data.Lab_Time}}</p></center>
        </div>

        <div class="col col-33 text-center icons_doc">
          <img src="img/rupee.png" class="icons_doc">
          <center><p class="tex-wrap"> <span ng-bind-html='savedlang.rupeeSymbol'></span> {{data.Test_Amount}}</p></center>
        </div>
      </div>
</div>
      <div class="item item_top_border">
        <div class="row cust_row">
          <div class="col col-10 icons_doc">
            <img src="img/hospital.png" class="icons_doc margin_hospital_icon">
          </div>

          <div class="col col-50 cust_col_1">
          <p class="tex-wrap">{{data.Lab_Landmark}}</p>
          </div>
          <div class="col col-33 cust_col_1 cust_col_1_align_right">
            <button class="button button-stable button_shadow" ng-click="bookLabTest(data)">{{savedlang.booknow}}</button>
          </div>

        </div>
      </div>
  </div>
</div>
  <br>
  </ion-content>


  <ion-content class="has-header bg_content" ng-show = "selectedlocality != savedlang.alllocality ">

    <div class="list card card_shadow"  ng-repeat="data in labList | orderBy : data.Test_Amount  | filter:search | filter: {Lab_Locality: selectedlocality} track by $index">
      <div>
        <div ng-click="sendData(data)">
        <div class="row">
          <div class="col col-33">
              <img ng-src="{{data.Lab_Doctor_Profile}}" style="width: 100%" />
          </div>
          <div class="col col-67">
            <p class="Doctor_name">
              {{data.Lab_Name}}
            </p>
            <p class="Doctor_speciality">{{data.Lab_Features}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col col-33 text-center icons_doc">
            <img src="img/location.jpg" >
            <p ng-bind-html='data.Lab_Locality' class="margin_lab_list_locality"></p>
          </div>

          <div class="col col-33 text-center icons_doc">
            <img src="img/time.jpg" class="icons_doc">
            <center><p class="tex-wrap">{{data.Lab_Time}}</p></center>
          </div>

          <div class="col col-33 text-center icons_doc">
            <img src="img/rupee.png" class="icons_doc">
            <center><p class="tex-wrap"> <span ng-bind-html='savedlang.rupeeSymbol'></span> {{data.Test_Amount}}</p></center>
          </div>
        </div>
  </div>
        <div class="item item_top_border">
          <div class="row cust_row">
            <div class="col col-10 icons_doc">
              <img src="img/hospital.png" class="icons_doc margin_hospital_icon">
            </div>

            <div class="col col-50 cust_col_1">
            <p class="tex-wrap">{{data.Lab_Landmark}}</p>
            </div>
            <div class="col col-33 cust_col_1 cust_col_1_align_right">
              <button class="button button-stable button_shadow" ng-click="bookLabTest(data)">{{savedlang.booknow}}</button>
            </div>

          </div>
        </div>
    </div>
  </div>
    <br>
    </ion-content>

</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
