<!--  Created  by Sarswati Kumar Pandey -->



<ion-view title={{savedlang.diagnostic}}>

  <ion-nav-buttons side="left">

    <!-- <button class="button button-icon button-royal"

        ui-sref="menu.home">

        <i class="icon ion-ios7-arrow-back"></i>

    </button> -->
<button class="button button-icon button-royal ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>



  <ion-nav-buttons side="right">

        <button class="diag_but button icon ion-ios-checkmark-empty" ng-click="donePressed()" ng-hide="checkedShow">

        </button>

  </ion-nav-buttons>



  <ion-header-bar class="bar-light bar-subheader search_input_padding_left_top cust_search">

      <div ng-hide = "search.length" class="button button-icon ion-ios-search input-button search_icon_position animate-hide check-element">

      </div>

          <input type="search" placeholder={{savedlang.srchlabtest}} ng-model="search" class="full-width">



        <div ng-hide = "!search.length" class="button button-icon ion-ios-close-empty  input-button search_icon_position animate-hide check-element" ng-click="clearSearch()">

        </div>

  </ion-header-bar>



  <ion-content has-header="true" scroll-detector>



    <ul class="list list-inset">

      <!-- <div class="adjustCommonTest">

        <p>

          {{savedlang.commontest}}

      </p>

      </div>

 -->      <li class="item item-checkbox item-checkbox-right cust_diagn_item" ng-repeat="item in labTestList | filter:search">

         <label class="checkbox">

           <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" ng-click="checkBoxChecked()">

         </label>

         {{ item.text }}

      </li>

    </ul>

  <br>

  </ion-content>

</ion-view>



<!-- Created  by Sarswati Kumar Pandey -->
