<!-- Created by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.ordercnf}} hide-back-button="true" cache-view="false">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal" ng-click="goToHomePage()">
        <i class="icon ion-ios-arrow-left"></i>
    </button>
  </ion-nav-buttons>


	<ion-content has-header="true" scroll-detector class="padding cust_content_margin" scroll="false">
    <div class="ordercnfmargin">
      <div class="centertext">
        <img src="./img/checkmark.png" alt="" height="125px"/>
      </div>

    <div class="centertext">
      {{savedlang.urtstasptmnthsbncnfrmd}}
    </div>

<div class="ordercnfquery">

    <div class="centertext">
      {{savedlang.foranyfrthrquery}}
    </div>

    <div class="centertext">
      {{savedlang.callusat}} <span><a ng-href="tel: {{savedlang.supportphonetocall}}" class="terms_of_use">{{savedlang.supportphonetodisplay}}</a></span>
    </div>

    <div class="centertext">
      {{savedlang.writeusat}} <span><a ng-href="mailto: {{savedlang.supportmail}}" class="terms_of_use">{{savedlang.supportmail}}</a></span>
    </div>

</div>
  </div>
  </ion-content>

</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
