<!-- Created by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.address}} cache-view="false">

  <ion-nav-buttons side="left">
    <!-- <button class="button button-icon button-royal" >
        <i class="icon ion-ios-arrow-left"></i>
    </button> -->
  </ion-nav-buttons>

	<ion-content has-header="true" scroll-detector class="padding cust_content_margin">

      <div class="list addressviewlist">
        <label class="item item-input item-stacked-label addressviewlabel" style="padding-top:20px";>
          <!-- <span class="input-label addressviewinputlabel">{{savedlang.Name}}</span> -->
          <input type="text" placeholder="Name" ng-model="userAddress.name" required>
            <!-- <input type="text" placeholder="Name"  required> -->
        </label>
           <label class="item item-input item-stacked-label addressviewlabel" style="padding-top:20px";>
          <!-- <span class="input-label addressviewinputlabel">{{savedlang.age}}</span> -->
          <input type="number" placeholder="Age" ng-model="userAddress.age" required>
            <!-- <input type="number" placeholder="Age" required> -->
        </label>
        <label class="item item-input item-stacked-label addressviewlabel" style="padding-top:20px";>
          <!-- <span class="input-label addressviewinputlabel">{{savedlang.gender}}</span> -->
          <input type="text" placeholder="M/F" ng-model="userAddress.gender"required >
        </label>
        <label class="item item-input item-stacked-label addressviewlabel" style="padding-top:20px";>
          <!-- <span class="input-label addressviewinputlabel">{{savedlang.Pincode}}</span> -->
          <input type="number" placeholder="Pincode"ng-model="userAddress.pincode" required>
            <!-- <input type="number" placeholder="Pincode" required> -->
        </label>
        <label class="item item-input item-stacked-label addressviewlabel" style="padding-top:20px";>
          <!-- <span class="input-label addressviewinputlabel">{{savedlang.Address}}</span> -->
          <input type="text" placeholder="Address" ng-model="userAddress.address" required>
          <!-- <input type="text" placeholder="Address" required> -->
        </label>
        <label class="item item-input item-stacked-label addressviewlabel" style="padding-top:20px";>
          <!-- <span class="input-label addressviewinputlabel">{{savedlang.Landmark}}</span> -->
          <input type="text" placeholder="Landmark" ng-model="userAddress.landmark" required>
            <!-- <input type="text" placeholder="Landmark" required> -->
        </label>
        <label class="item item-input item-stacked-label addressviewlabel" style="padding-top:20px";>
          <!-- <span class="input-label addressviewinputlabel">{{savedlang.City}}</span> -->
          <input type="text" placeholder="City" ng-model="userAddress.city" required>
            <!-- <input type="text" placeholder="City" required> -->

        </label>
        <label class="item item-input item-stacked-label addressviewlabel" style="padding-top:20px";>
          <!-- <span class="input-label addressviewinputlabel">{{savedlang.State}}</span> -->
          <input type="text" placeholder="Sate" ng-model="userAddress.state" required>
            <!-- <input type="text" placeholder="State" required> -->
        </label>
        <label class="item item-input item-stacked-label addressviewlabel" style="padding-top:20px";>
          <!-- <span class="input-label addressviewinputlabel">{{savedlang.phnnumbr}}</span> -->
          <input type="number" placeholder="Phone" ng-model="userAddress.phone" required>
          <!-- <input type="number" placeholder="Phone" required> -->

        </label>

      </div>

  </ion-content>

  <div class="button footer_btn" ng-click="placeOrder()">{{savedlang.placeorder}}</div>

</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
