<!-- Created  by Sarswati Kumar Pandey -->

<ion-view hide-nav-bar="true" cache-view="false">
<ion-content class="backgroundLoginHome" scroll="false">

  <div class="logologinHome">

    <div class="adjustLoginHome">
      <div class="block_1">
        <div id="logo" class="row ">



          <div class="col text-center">
             <img src="./img/final_logo-01.png" width="90%"/>

          </div>
        </div>
      </div>


        <div class="block_2">

          <div class="row cust_row">
            <div class="col cust_col">
             <div class="button-bar ">
                  <button class=" button icon-left ion-social-facebook button-facebook button-block cust_icon_social_1 "></button>

                  <button class="button icon-left button-facebook button-block cust_button_border_1" ng-click="fbLogin()">
                    {{savedlang.fbsignup}}
                  </button>
              </div>
            </div>
          </div>

          <div class="row cust_row">
            <div class="col cust_col">

              <div class="button-bar ">
                  <button class=" button icon-left ion-social-googleplus button-google button-block cust_icon_social_2 "></button>
                  <button class="button icon-left button-block button-google cust_button_border_2" ng-click="googleLogin()">
                                      {{savedlang.googleplussignup}}
                  </button>
              </div>
            </div>
          </div>


          <div class="row cust_or_row">
            <div class="col">
          <div class="strike">
              <span>{{savedlang.or}}</span>
            </div>
          </div>
        </div>

           <div class="row cust_row">
            <div class="col cust_col">
            <div class="button-bar ">

              <button class="button button-full button-royal-1 cust_button_social cust_button_border"  ng-click="navigatePage()">
                {{savedlang.login}}
              </button>
              <button class="button button-full button-royal-1 cust_button_social" ng-click="goToRegister()">
                {{savedlang.signup}}
              </button>

            </div>
          </div>
        </div>

        <div class="row">
            <p class="agreement">{{savedlang.agreement}} <a ng-click="GoToLink('http://kidorohealth.com/terms/terms-of-use/')" class="terms_of_use">{{savedlang.terms}}</a> {{savedlang.and}} <a ng-click="GoToLink('http://kidorohealth.com/terms/privacy-policy/')" class="terms_of_use">{{savedlang.privacy}}</a>{{savedlang.dot}}</p>
       </div>
     </div>

              </div>
            </div>
          </div>
</ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
