<!-- Created  by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.medicalreports}} cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-content has-header="true" ng-hide="hideErrorMsg" class="cust_content_margin bg_content_apt">
    <div class="item item-inset remove_border bg_content_apt">
      <h2 class="cust_color_booking_txt bg_content_apt">{{medReportError}}</h2>
    </div>
  </ion-content>

  <ion-content has-header="true" ng-show="!showMedReport" class="cust_content_margin bg_content_apt">
    <div class="item item-inset remove_border bg_content_apt">
      <h2 class="cust_color_booking_txt bg_content_apt">{{showMedReportAvail}}</h2>
    </div>
  </ion-content>

  <ion-content has-header="true" scroll-detector class="padding cust_content_margin" ng-show="showMedReport">
    <div class="list" ng-repeat="item in medicalRecords" style="margin-bottom: 0px;border-color:#F1EFEF !important;">
        <div class="item" style="border-top: 0;border-left: 0;border-right: 0;" ng-click="goToMedReportDetail(item)">
          <p>{{item.Record.pharmaRecord.pharma_name}} | {{item.Record.preRecord.no_of_days}} <span ng-hide="item.Record.preRecord.no_of_days>1">{{savedlang.day}}</span><span ng-hide="item.Record.preRecord.no_of_days==1">{{savedlang.days}}</span></p>
          <p>{{item.Record.preRecord.date}}</p>
        </div>
    </div>
    <br>
  </ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
