<!-- Created by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.medicalreportdetails}}>

  <ion-nav-buttons side="left">
  <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" tabindex="0">
      <span class="back-text"></span></button>
  </ion-nav-buttons>

      <ion-content has-header="true" class="cust_content_margin" scroll="false">

        <div class="item" style="padding:0px !important;">

        <div class="row" ng-repeat="data in images track by $index" ng-if="$index % 4 === 0">

                <div class="col col-25" ng-if="$index < images.length" ng-click="openModal()">
                    <img src-lazy = "{{images[$index].pres_link}}" width="100%" style="background: #fbfbfb;" />
                </div>

                <div class="col col-25" ng-if="$index + 1 < images.length" ng-click="openModal()">
                    <img src-lazy = "{{images[$index + 1].pres_link}}" width="100%" style="background: #fbfbfb;" />
                </div>

                <div class="col col-25" ng-if="$index + 2 < images.length" ng-click="openModal()">
                    <img src-lazy = "{{images[$index + 2].pres_link}}" width="100%" style="background: #fbfbfb;" />
                </div>

                <div class="col col-25" ng-if="$index + 3 < images.length" ng-click="openModal()">
                    <img src-lazy = "{{images[$index + 3].pres_link}}" width="100%" style="background: #fbfbfb;" />
                </div>

        </div>

      </div>

      </ion-content>

</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
