<!-- Created  by Sarswati Kumar Pandey -->

<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button >
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-content class = "contentBackground">

      <div class="item item-avtar side-menu-header">

        <div class="adjust_avtar" ng-show = "profileShow">
        <img ng-src="./img/noimage2.png" height="80" class="avtar_no_img"/>
        <h3 class="title colorPatientName">{{savedlang.welcometokidoroHlth}}</h3>
      </div>

            <div class="adjust_avtar" ng-show = "!profileShow">

            <img menu-close ui-sref="menu.profile" ng-show="imgURI !== undefined" ng-src="{{imgURI}}" height="80" class="avtar" />
            <img menu-close ui-sref="menu.profile" ng-show="imgURI === undefined" ng-src="./img/noimage2.png" height="80" class="avtar_no_img"/>


            <h3 class="title colorPatientName">{{user.User_Name}}
            </h3>
            <h4 class="title">
              <p class="icon ion-ios-location cust_location" ng-show="location!=undefined">&nbsp{{location}}</p>
            </h4>
          </div>

        </div>
      <ion-list class="menu_padding">

        <ion-item menu-close ui-sref="menu.home" class="item item-icon-left cust_item_color menu_cust_border">
          <i class="icon ion-medkit-home"></i>
          {{savedlang.home}}
        </ion-item>

        <ion-item menu-close ui-sref="menu.appointments" class="item item-icon-left cust_item_color">
          <i class="icon ion-gear-b-apt"></i>
          {{savedlang.apntmnts}}
        </ion-item>

        <ion-item menu-close ui-sref="menu.prescriptions" class="item item-icon-left cust_item_color">
          <i class="icon ion-gear-b-report"></i>
          {{savedlang.prescrptn}}
        </ion-item>

        <ion-item menu-close ui-sref="menu.medicalReports" class="item item-icon-left cust_item_color">
          <i class="icon ion-gear-b-order"></i>
          {{savedlang.medicalreports}}
        </ion-item>

        <ion-item menu-close ui-sref="menu.labtest" class="item item-icon-left cust_item_color">
          <i class="icon ion-gear-b-labtest"></i>
          {{savedlang.labtest}}
        </ion-item>

        <ion-item menu-close ui-sref="menu.aboutUs" class="item item-icon-left cust_item_color">
          <i class="icon ion-gear-b-about-us"></i>
          {{savedlang.aboutus}}
        </ion-item>

        <ion-item menu-close class="cust_btn_menu item item-icon-left cust_item_color" style=" background-color:#fff; border-color:#f7f7f7; cursor:text;" ng-click="rateUs()">
          <i class="icon ion-gear-b-rate-us"></i>
          {{savedlang.rateus}}
        </ion-item>

        <ion-item menu-close class="cust_btn_menu item item-icon-left cust_item_color" style=" background-color:#fff; border-color:#f7f7f7; cursor:text;" ng-click="signOut()" ng-show="!loginShow">
          <i class="icon ion-gear-b-signout"></i>
          {{savedlang.signout}}
        </ion-item>

         <ion-item menu-close class="cust_btn_menu item item-icon-left cust_item_color" style=" background-color:#fff; border-color:#f7f7f7; cursor:text;" ng-click="login()" ng-show="loginShow">
          <i class="icon ion-gear-b-signin"></i>
          {{savedlang.loginorsignup}}
        </ion-item >

      </ion-list>
    </br>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<!-- Created  by Sarswati Kumar Pandey -->
