<!-- Created by Sarswati Kumar Pandey -->

<ion-modal-view>
        <ion-header-bar class="bar bar-header">
          <button class="button button-royal-4 icon ion-ios-close-empty" ng-click="closeModal()"></button>
          <h1 class="title modal_cust_title">{{savedlang.addloc}}</h1>
        </ion-header-bar>
        <ion-header-bar class="bar-light bar-subheader search_input_padding_left_top cust_search">
            <div ng-hide = "modal.searchText.length" class="button button-icon ion-ios-search input-button search_icon_position">
            </div>
              <input type="search" placeholder={{savedlang.srchlocality}} ng-model="modal.searchText" class="full-width">
            <div ng-hide = "!modal.searchText.length" class="button button-icon ion-ios-close-empty  input-button search_icon_position" ng-click="clearSearch()">
            </div>
        </ion-header-bar>
        <ion-content>

          <ion-list class="cust_list">

            <ion-item class="item_loc" ng-click="selectAllLocality(savedlang)">
              {{savedlang.alllocality}}
            </ion-item>

            <ion-item ng-repeat="item in localityArray | filter:modal.searchText" class="item_loc" ng-click="submitToDoctorList(item)">
              {{item.location}}
            </ion-item>

          </ion-list>
        </ion-content>
</ion-modal-view>

<!-- Created by Sarswati Kumar Pandey -->
