
<ion-view>
<ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">SIGNUP</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">BACK</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div>
            <label class="item" ng-click="pregModule()">I am Pregnant
           
      
            </label>
             <label class="item" ng-click="babyModule()">I have a Baby
            
      
            </label>
             <label class="item" ng-click="tryToConceive()">Trying To conceive
            
      
            </label>
                      </div>



                      <input type="text" placeholder={{savedlang.kidbrthstatus}} ng-click="showBirthPopup()" required ng-model="user.birthDate" readonly="false" style="background-color:#fff;">
        </ion-content>
      </ion-view>