<ion-view>
<ion-header-bar class="bar-stable">
<h1 class="title">DETAILS OF MY KIDS</h1>

</ion-header-bar>

<ion-content>

      <label class="item item-select">
      Number Of Children:
      <select>
      <option>1</option>
      <option> 2</option>
      <option> 3</option>
      <option> 4</option>
      </select>
      </label>

        <div class="row header">
          <div class="col" style="background-color: lightgrey;border: 1px solid;border-top-left-radius: 15px;">Name</div>
          <div class="col" style="background-color: lightgrey;border: 1px solid;border-top-left-radius: 15px;">Gender</div>
          <div class="col" style="background-color: lightgrey;border: 1px solid;border-top-left-radius: 15px;">Height</div>
          <div class="col" style="background-color: lightgrey;border: 1px solid;border-top-left-radius: 15px;">Weight</div>
          <div class="col" style="background-color: lightgrey;border: 1px solid;border-top-left-radius: 15px;">Delivery</div>
        </div>
        <div class="row">
          <div class="col"><input type="text" name=""></div>
          <div class="col"><input type="text" name=""></div>
          <div class="col"><input type="text" name=""></div>
          <div class="col"><input type="text" name=""></div>
          <div class="col"><input type="text" name="" >

<label class="item item-select">
              
        <select>
      
      <option selected> Natural</option>
      <option>IVF</option>
        <option>OPTION 3</option>
           <option>OPTION 4</option> 
    </select>
   </label>
   




          </div>
        </div>