<!-- Created by Sarswati Kumar Pandey -->

<ion-view title="Notification"  cache-view="false">
 <!-- <ion-nav-buttons side="left">
    <button class="button button-icon button-royal">
        <i class="icon ion-ios7-arrow-back"></i>
    </button>
  </ion-nav-buttons> -->


  <ion-content class="has-header bg_content bg_content_rss">
  <div ng-show="!showNotification" class="cust_content_margin bg_content_apt">
    
<div class="imageCenter">

  <img src="img/notification-03.png" width="100px" />
  <p> You are up to date. </p>

</div>
  </div>

   <div ng-show="showNotification" class="list card card_shadow" ng-repeat = "item in  notificationList">

  

  <div class="row">
      <div class="col col-20">
        <img class="notificationIcon" ng-src="{{item.icon}}"/>
      </div>

      <div class="col col-60 notificationName" >
         <h4> {{item.NotificationName}}</h4>
      </div>

      <div class="col col-20">
            <p class="notificationDate" >   {{item.displayDate}}
</p>
      </div>

  </div>

  <div class="row">
    <div class="col col-20">
    </div>

    <div class="col col-80 notificationSubname">
        <p> {{item.subName}} </p>
      </div>
  </div>


  <div class="row">
    <div class="col col-20">
    </div>

    <div class="col col-80" style="
    color: #757474;
">
       {{item.message}}
      </div>
  </div>

 <!--  <div class="row">
     <div class="col col-20">
     </div>

     <div class ="col col-80">
       <hr>
       <p> Coupon Code </p>
     </div>
  </div> -->


  <div class="row">
     <div class="col col-20">
     </div>

   <div class ="col col-80" ng-show="item.couponShow">
       <hr class="hrTag">
       <p>{{item.coupon}} </p>
     </div>
      <div class="col col-80" ng-show="item.showButton">
      <hr class="hrTag">
      <p> <a class="notificationBtn_rgt" ng-click="updateVaccination(item,$index)">ALREADY TAKEN </a><a class="notificationBtn_lft"ng-click="remindLater(item)">NOT NOW </a> 

      </div>
  </div>



</div>
</ion-content>
</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
