<!-- Created by Sarswati Kumar Pandey -->

  <ion-view hide-nav-bar="hideBar">
    <ion-header-bar class="cust-bar-header-doc-details">
      <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item cust_btn" tabindex="0"><i class="icon ion-ios-arrow-left"></i>
    <span class="back-text"></span></button>
  </ion-header-bar>
    <ion-content class="no-header" style="top: 0;" scroll-detector>

      <div id="container">
        <div id='cover_container' style="background: #E6E6E6;background-size: contain;background-repeat: no-repeat;background-image: url('{{selectedpharmaDetails.Pharma_Cover}}');">
          <div id='info_box'>
            <div id="profile_img" ng-click="showFullImage(selectedpharmaDetails.pharmaPic)" class="profilePic_shadow">
              <img ng-show="selectedpharmaDetails.pharmaPic === null" ng-src="./img/noimage2.png" class='avatar_img'/>
              <img ng-show="selectedpharmaDetails.pharmaPic !== null" src="{{selectedpharmaDetails.pharmaPic}}" class='avatar_img'>
            </div>
              <div id="info-box">
                <div id="info-name">
                  <p class="text_color_white doc_detail_doc_name">{{selectedpharmaDetails.pharma_contact_person_name}}</p>
                  <p class="text_color_white doc_detail_doc_degree" ng-hide="selectedpharmaDetails.Pharma_Qualification==null">{{selectedpharmaDetails.Pharma_Qualification}}</p><br/>

                  <p class="margin_speciality icons_doc" style="margin-top:6px !important" ng-show="selectedpharmaDetails.Pharma_Qualification==null"> {{selectedpharmaDetails.Pharma_Features}}</p>
                  <p class="margin_speciality icons_doc" ng-show="selectedpharmaDetails.Pharma_Qualification!=null"> {{selectedpharmaDetails.Pharma_Features}}</p>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div id="container-content">


          <div class="row">
              <div class="col col-10 icons_doc">
                <img src="img/home-16.jpg" class="icons_doc margin_hospital_icon">
              </div>
              <div class="col col-90 icons_doc hosp_name_margin">
                <p class="doc_list_label c_name">{{savedlang.phrmcyname}}</p>
                <p>{{selectedpharmaDetails.Pharma_Name}}</p>
              </div>
          </div>


      <div class="row" ng-show = "selectedpharmaDetails.Pharma_Time !== null">
          <div class="col col-10 icons_doc">
            <img src="img/time.jpg" class="icons_doc margin_hospital_icon">
          </div>
          <div class="col col-90 icons_doc name_margin_day">
            <p class="doc_list_label c_timing">{{savedlang.phrmcytming}}</p>
            <p>{{selectedpharmaDetails.Pharma_Time}}</p>
          </div>
      </div>

      <div class="row" ng-show = "selectedpharmaDetails.Pharma_Discount !== null">
          <div class="col col-10 icons_doc">
            <img src="img/rupee.png" class="icons_doc margin_hospital_icon">
          </div>
          <div class="col col-90 icons_doc name_margin_day">
            <p class="doc_list_label c_timing">{{savedlang.discount}}</p>
            <p>{{selectedpharmaDetails.Pharma_Discount}}</p>
          </div>
      </div>


              <div class="row">
                  <div class="col col-10 icons_doc">
                    <img src="img/location.jpg" class="icons_doc margin_hospital_icon">
                  </div>
                  <div class="col col-90 icons_doc name_margin">
                    <p class="doc_list_label c_address">{{savedlang.phrmcyadrs}}</p>
                    <p>  {{selectedpharmaDetails.Pharma_Address}}</p>

                    <div ng-click="GoToLink('https://maps.google.com/maps/?q={{selectedpharmaDetails.Pharma_Address}}')">
                      <img src="https://maps.googleapis.com/maps/api/staticmap?center={{selectedpharmaDetails.Pharma_Address}}&zoom=15&size=533x275&sensor=false&maptype=roadmap&markers=color:red|{{selectedpharmaDetails.Pharma_Address}}" class="full-map">
                      <br/><br/><br/>
                    </div>
                  </div>
              </div>

  </div>
  </ion-content>
 <div class="button footer_btn" ng-click="capturePrescription()">{{savedlang.cptrprscrptn}}</div>
</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
