<!-- Created  by Sarswati Kumar Pandey -->

<ion-view>

  <ion-nav-title ng-click="openModal()">
      {{selectedlocality}} <i class="icon ion-android-arrow-dropdown adjust_loc_icon"></i>
  </ion-nav-title>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-royal" ui-sref="menu.home">
          <i class="icon ion-ios7-arrow-back"></i>
      </button>
    </ion-nav-buttons>


<ion-header-bar class="bar-light bar-subheader search_input_padding_left_top cust_search">
        <div ng-hide = "search.length" class="button button-icon ion-ios-search input-button search_icon_position animate-hide check-element">
        </div>
            <input type="search" placeholder={{savedlang.srchchemists}} ng-model="search" class="full-width">

          <div ng-hide = "!search.length" class="button button-icon ion-ios-close-empty  input-button search_icon_position animate-hide check-element" ng-click="clearSearchChemist()">
          </div>
</ion-header-bar>

  <ion-content class="has-header bg_content" ng-show = "selectedlocality == savedlang.alllocality ">
    <div class="list card card_shadow"  ng-repeat="data in pharmaList  | filter:search">
      <div ng-click="sendPharmaData(data)">
        <div class="row">
          <div class="col col-33">
              <img ng-src="{{data.pharmaPic}}" style="width: 100%" />
          </div>
          <div class="col col-67">
            <p class="Doctor_name">
              {{data.Pharma_Name}}
            </p>
            <p class="Doctor_speciality">{{data.Pharma_Features}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col col-33 text-center icons_doc">
            <img src="img/location.jpg" >
            <p ng-bind-html='data.Pharma_Locality' class="margin_lab_locality"></p>
          </div>

          <div class="col col-33 text-center icons_doc">
            <img src="img/time.jpg" class="icons_doc">
            <p class="tex-wrap"><center>{{data.Pharma_Time}}</center></p>
          </div>

          <div class="col col-33 text-center icons_doc">
            <img src="img/rupee.png" class="icons_doc">
            <p class="tex-wrap"><center>{{data.Pharma_Discount}}</center></p>
          </div>
        </div>
      </div>
        <div class="item item_top_border">
          <div class="row cust_row">
            <div class="col col-10 icons_doc">
              <img src="img/hospital.png" class="icons_doc margin_hospital_icon">
            </div>

            <div class="col col-50 cust_col_1">
            <p class="tex-wrap" ng-click="GoToLink('https://maps.google.com/maps/?q={{data.Pharma_Address}}')">{{data.Pharma_Address}}</p>
            </div>
            <div class="col col-33 cust_col_1 cust_col_1_align_right">
              <!-- <button class="button button-stable  cust_col_1" ng-click="callPharam(data)">Call</button> -->
              <button class="button button-stable  cust_col_1 button_shadow" ng-click="sendPharmaData(data)">{{savedlang.ordernow}}</button>
            </div>
          </div>
        </div>

    </div>
      <br>
    </ion-content>

    <ion-content class="has-header bg_content" ng-show = "selectedlocality != savedlang.alllocality ">
      <div class="list card card_shadow"  ng-repeat="data in pharmaList  | filter:search | filter: {Pharma_Locality: selectedlocality}">
        <div ng-click="sendPharmaData(data)">
          <div class="row">
            <div class="col col-33">
                <img ng-src="{{data.pharmaPic}}" style="width: 100%" />
            </div>
            <div class="col col-67">
              <p class="Doctor_name">
                {{data.Pharma_Name}}
              </p>
              <p class="Doctor_speciality">{{data.Pharma_Features}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col col-33 text-center icons_doc">
              <img src="img/location.jpg" >
              <p ng-bind-html='data.Pharma_Locality' class="margin_lab_locality"></p>
            </div>

            <div class="col col-33 text-center icons_doc">
              <img src="img/time.jpg" class="icons_doc">
              <p class="tex-wrap"><center>{{data.Pharma_Time}}</center></p>
            </div>

            <div class="col col-33 text-center icons_doc">
              <img src="img/rupee.png" class="icons_doc">
              <p class="tex-wrap"><center>{{data.Pharma_Discount}}</center></p>
            </div>
          </div>
          </div>

          <div class="item item_top_border">
            <div class="row cust_row">
              <div class="col col-10 icons_doc">
                <img src="img/hospital.png" class="icons_doc margin_hospital_icon">
              </div>

              <div class="col col-50 cust_col_1">
              <p class="tex-wrap" ng-click="GoToLink('https://maps.google.com/maps/?q={{data.Pharma_Address}}')">{{data.Pharma_Address}}</p>
              </div>
              <div class="col col-33 cust_col_1 cust_col_1_align_right">
                <button class="button button-stable  cust_col_1 button_shadow" ng-click="sendPharmaData(data)">{{savedlang.ordernow}}</button>
              </div>
            </div>
          </div>

      </div>
        <br>
      </ion-content>

  </ion-view>

  <!-- Created  by Sarswati Kumar Pandey -->
