<ion-popover-view class = "cust_popover">
        <ion-content scroll="false">
          <div class="list" ng-click="popover.hide()">
            <a class="item" ng-click="openLanguageList()">
              {{savedlang.language}}
            </a>
          </div>
      </ion-content>
</ion-popover-view>
