<ion-item class="item item-icon-left birthItem">
  <i class="icon ion-gear-b-duedate"></i>
    <ionic-datepicker input-obj="datepickerObject">
      <button class="button button-full-kidordob" ng-click="selectDueDate()" style="background-color:#fff !important;">{{savedlang.selctdueDate}}</button>
    </ionic-datepicker>
</ion-item>

<ion-item class="item item-icon-left birthItem">
  <i class="icon ion-gear-b-birthdate"></i>
    <ionic-datepicker input-obj="datepickerObject">
            <button class="button button-full-kidordob" ng-click="selectDateOfBirth()" style="background-color:#fff !important;">{{savedlang.selctdob}}</button>
    </ionic-datepicker>
</ion-item>
