<ion-header-bar class="bar-positive">
      <h1 class="title">I am Pregnant</h1>
     <button class="button button-positive" ng-click="Back()">Back</button>
    </ion-header-bar>
    <ion-content>

<label class="item item-input item-stacked-label">
    <span class="input-label">My Name</span>
    <input type="text" ng-model="KidoroUser.name" placeholder="John" >
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label" >My Weight (In kgs)</span>
    <input type="text" ng-model="KidoroUser.weight" placeholder="77">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">My Height (In cms)</span>
    <input type="text" ng-model="KidoroUser.height" placeholder="156">
   </label>

<label class="item item-select">
              <span class="input-label">Is this your First Pregnancy?</span>
            
        <select ng-model="KidoroUser.firstPregnancy">
      
      <option selected> NO</option>
      <option>YES</option>
    </select>
   </label>
   


   <label class="item item-select">
              <span class="input-label">Do you know your Due date?</span>
        
        <select ng-model="KidoroUser.dueDate">
      <option selected> NO</option>
      <option ng-click="calender()">YES</option>
    </select>

   </label>

<label class="item">
              <span class="input-label">What was the first date of your last period?</span>
              <input type="date" ng-model="KidoroUser.periodDate">
   </label>


<label class="item item-select">
              <span class="input-label">Already have kids?</span>
             
        <select ng-model="KidoroUser.haveKids">
      
      <option ng-click="modalNoOfkids.show()">YES</option>
      <option selected> NO</option>
    </select>
If Yes , <label ng-click="goToKidsDetails()">give kids details here</label>
   </label>
<button ng-click="doSignUp()">submit</button>
    </ion-content>

<script id="templates/modalNoOfkids.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Number of Kids?</h1>
          <button class="button button-clear button-primary" >BACK</button>
        </ion-header-bar>
      
      </ion-modal-view>