<!-- Created by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.prescription}} cache-view="false">

  <ion-nav-buttons side="left">
      <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" tabindex="0">
      <span class="back-text"></span></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="submitData()" ng-show= "showdone">{{savedlang.done}}</button>
  </ion-nav-buttons>


  	<ion-content has-header="true" scroll-detector class="cust_content_margin">

      <div class="list card pres_card" ng-repeat = "img in presArray.pres_image_array" ng-click = "openModal()">

        <div class="item item-body borderPresItem">
          <img class="presImage" src-lazy="{{img.pres_link}}" src = "./img/cover3.png">
        </div>

      </div>

  <br/><br/><br/>
    </ion-content>

      <div class="button footer_btn" ng-click="appendMore()" ng-show="showBtn">{{savedlang.addmore}}</div>
</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
