<!-- Created  by Sarswati Kumar Pandey -->

<ion-view title="{{savedlang.prescrptn}}" cache-view="false">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-content has-header="true" ng-show="!showPres" class="cust_content_margin bg_content_apt">
    <div class="item item-inset remove_border bg_content_apt">
      <h2 class="cust_color_booking_txt bg_content_apt">{{savedlang.plslogintoviewpres}}</h2>
    </div>
  </ion-content>

	<ion-content has-header="true" scroll-detector class="cust_content_margin" ng-show = "showPres">

    <div class="list card pres_card card_shadow" ng-repeat = "item in presArray" ng-click = "sendData(item)">

      <div class="item item-body borderPresItem">
        <img class="presImage" src-lazy="{{item.pres_image_array[0].pres_link}}" src = "./img/cover3.png">
      </div>

      <div class="item uploaded_by_item">
        <p class="uploaded_by">{{savedlang.uploadedby}}</p>
        <span class="pres_span pres_span_left">{{item.pres_uploader_name}}</span> <span class = "pres_span pres_span_right pres_lht">{{item.time}}</span>
      </div>

    </div>

<br/><br/><br/>
  </ion-content>
  <div ng-show = "showPres" class="button footer_btn" ng-click="appendMore()">{{savedlang.addnew}}</div>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
