<!-- Created by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.prescription}} hide-back-button="true" cache-view="false">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal" ui-sref="menu.pharmadetails">
        <i class="icon ion-ios-arrow-left"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon button-royal" ng-click="gotoaddress()" ng-show="days>0">
        <i class="icon ion-ios-arrow-right"></i>
    </button>
  </ion-nav-buttons>

	<ion-content has-header="true" scroll-detector class="padding cust_content_margin">

    <div class="item" style="border-width: medium; padding:0px !important;">

      <ion-list>
          <div class="row" style="flex-wrap: wrap;">
            <div class="col col-25" ng-repeat="img in images">
              <div class="imagePres"><img src="{{img.image}}" width="80px" height="80px"/></div>
            </div>
            <div class="col col-25" ng-click="addPrescription()">
              <div class="imagePres"><img src="./img/add_more.png" width="80px" height="80px"/></div>
            </div>
          </div>
      </ion-list>

    </div>

    <div class="" style="height:40%; margin-top:15px; ">
      <div class="list">
        <div class="item item-divider">
          {{savedlang.noofdays}}
        </div>
        <div class="item" style="padding:5px;">

          <div class="row centertext">
            <div class="col col-20 minuspluspresptn minuscolorpresptn" ng-click="decrementDays()">
              <i class="icon ion-ios-minus-outline"></i>
            </div>
            <div class="col col-60 minuspluspresptn">
              {{days}} <span ng-show="days<2">{{savedlang.day}}</span> <span ng-show="days>1">{{savedlang.days}}</span>
            </div>
            <div class="col col-20 minuspluspresptn pluscolorpresptn" ng-click="incrementDays()">
              <i class="icon ion-ios-plus-outline"></i>
            </div>
          </div>

        </div>

    </div>

    </div>
  </ion-content>
</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
