<!-- Created by Sarswati Kumar Pandey -->
<ion-view view-title="{{selctedDoctorDetails.Doc_Name}}" cache-view="false">

        <!-- <ion-header-bar class="bar bar-header">
          <button class="button button-royal-4 icon ion-ios-close-empty" ></button>
          <h1 class="title cust_search_modal">Private Chat</h1>
        </ion-header-bar> -->


          <ion-content has-header="true" class="padding">

        <div class="list list-inset" style="margin:0;">

                  <div ng-repeat="message in messages" class="message-wrapper">

                      <div ng-if="cssUser !== message.kidoroCode">

                         <div style="float: left;margin: 10px; padding: 0px 16px;">

                        <div class="chat-bubble left">
                          <img class="profile-pic left" ng-src="./img/noimage2.png" ng-show = "message.dp == null" width="50px"/>
                          <img class="profile-pic left" ng-src="{{message.dp}}" />

                            <div class="message-detail"  style="color: #009999;">
                                <span class="bold">{{message.user}}</span>

                            </div>
                            <div class="message">    {{message.text}}  </div>
                          </div>
                            <div class="message-detail">
                                <span style="float: right; margin: -12px 10px; font-size:11px;">{{message.displayTime}}</span>
                            </div>
                      </div>
                        <br/>
                      </div>


                      <div ng-if="cssUser === message.kidoroCode">

                        <div style="float: right; margin: 14px; padding: 0px 16px;">

                          <div class="chat-bubble right">
                            <img class="profile-pic right" ng-src="./img/noimage2.png" ng-show = "message.dp == null" width="50px"/>
                            <img class="profile-pic right" ng-src="{{message.dp}}" />

                            <div class="message-detail" style="color: #FE2E2E;">
                                <span class="bold">{{message.user}}</span>
                            </div>
                            <div class="message"> {{message.text}} </div>
                          </div>

                            <div class="message-detail">
                                  <span style="float: left; margin: -12px 10px; font-size:11px;">{{message.displayTime}}</span>
                            </div>

                          </div>

                      </div>

                  </div>
                </div>
        <br><br>
          </ion-content>

        <ion-footer-bar keyboard-attach class="bar-stable item-input-inset custom_chat_footer" ng-click = "scrollBottom()">

                <label class="item-input-wrapper" style="height: 45px; background-color: #fff;">
                  <input type="text" placeholder="{{savedlang.typeurmsg}}" ng-model = "newmessage.text" />
                </label>

                <div class="footer-btn-wrap">
                  <button class="button button-icon icon ion-android-send footer-btn" ng-click="sendMessage(newmessage)" ng-model="data.message"  ng-disabled = "!newmessage.text.length || newmessage.text.length === ''"></button>
                </div>

        </ion-footer-bar>

</ion-view>


<!-- Created by Sarswati Kumar Pandey -->
