<!-- Created  by Sarswati Kumar Pandey -->

<ion-view title={{savedlang.prfl}} cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">

    <div ng-show="divedit" class="hideByDefault">
    <a class="button button-clear cust_edit" ng-click="showEdit()">
      <i class="icon ion-edit_content"></i>
    </a>
      </div>
      <div ng-show="divdone" class="hideByDefault">
      <a class="button button-clear cust_edit" ng-click="showDone()">{{savedlang.done}}
      </a>
        </div>
    </ion-nav-buttons>


	<ion-content has-bouncing="false">
      <div class="item item-avtar side-menu-header-profile">
            <div class="adjust_avtar_profile">
            <div class="">

              <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" height="80" class="avtar_profile" ng-click="showPopup()"/>
              <img ng-show="imgURI === undefined" ng-src="./img/noimage2.png" height="80" class="avtar_profile" ng-click="showPopup()"/>

            </div>


            <h3 class="title colorPatientName">{{user.User_Name}}
            </h3>
            <h4 class="title">
              <p class="icon ion-ios-location cust_location" ng-show="location!=undefined">&nbsp{{location}}</p>
            </h4>
          </div>
        </div>


        
        <div class="button-bar">
          <a class="button cust_btn_profile" ng-click="showMom()" id = "btn_mom">{{savedlang.me}}</a>
          <a class="button cust_btn_profile" ng-click= "showKidoro()" id = "btn_kid">{{savedlang.kidoro}}</a>
          <!-- <a class="button cust_btn_profile" ng-click= "showFamily()" id = "btn_family">{{savedlang.partner}}</a> -->
        </div>

        <div ng-show="div1" class="hideByDefault">
          <div class="list list-inset cust_form_list">

            <label class="item item-input cust_form_item cust_form_item_id" >
              <input type="text" placeholder="Name" ng-disabled="mom" ng-model = "user.User_Name" id="mom_itm1">
            </label>
            <label class="item item-input cust_form_item">
              <input type="text" placeholder="Phone" ng-disabled="true" ng-model = "user.User_Phone" id="mom_itm2">
            </label>
            <label class="item item-input cust_form_item">
              <input type="text" placeholder="Email Id" class="full-width-input" ng-disabled="mom" ng-model = "user.User_Mail" id="mom_itm3" style="text-overflow: ellipsis;">
            </label>
          </div>
        </div>


        <div ng-show="div2" class="hideByDefault">
          <div class="list list-inset cust_form_list">
            <label class="item item-input cust_form_item cust_form_item_id" >
              <input type="text" placeholder="Kidoro Id" ng-disabled="true" ng-model = "user.Kidoro_Code" id="kid_itm0">
            </label>
            <label class="item item-input cust_form_item" >
              <input type="text" placeholder="Baby Name" ng-disabled="baby" ng-model = "user.Child_Name" id="kid_itm1">
            </label>
            <label class="item item-input cust_form_item" ng-show="user.Child_Date != null">
              <input type="text" placeholder="Baby Age" ng-disabled="true" ng-model = "user.Child_Date" id="kid_itm2">
            </label>
            <label class="item item-input cust_form_item" ng-show="user.Child_Due_Date != null">
              <input type="text" placeholder="Baby Age" ng-disabled="true" ng-model = "user.Child_Due_Date" id="kid_itm2">
            </label>
          </div>
        </div>

        <!-- <div ng-show="div3" class="hideByDefault">
          <div class="list list-inset cust_form_list">
            <label class="item item-input cust_form_item cust_form_item_id">
              <input type="text" placeholder="Partner Id" ng-disabled="true"  ng-model = "partnerData.Kidoro_Code" id="partner_itm0">
            </label>
            <label class="item item-input cust_form_item">
              <input type="text" placeholder="Partner Email Id" ng-disabled="true"  class="full-width-input" ng-model = "partnerData.User_Mail" id="partner_itm1" style="text-overflow: ellipsis;">
            </label>
            <label class="item item-input cust_form_item">
              <input type="text" placeholder="Partner Mobile Number" ng-disabled="true" ng-model = "partnerData.User_Phone" id="partner_itm2">
            </label>
          </div>
        </div> -->


  </ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
