<!-- Created  by Sarswati Kumar Pandey -->

<ion-view hide-nav-bar="true" cache-view="false">
<ion-content class="backgroundLoginHome" scroll="true">
   <div class="adjustLoginHome">

      <div class="login_block_1">
            <div class="login_artwork"><img src="./img/Login_artwork_1.png" height="140" width="320"/></div>
            <div class="login_title">{{savedlang.prflinfo}}</div>
            <div class="login_sub_title">{{savedlang.intrduceyrslf}}</div>
      </div>


      <div class="login_block_2">
          <div class="row cust_row">
            <div class="col cust_col" ng-form="myForm">

              <label class="item item-input item-floating-label-1 cust_item_input">
                <input type="text" placeholder={{savedlang.fname}} required ng-model="user.fullName" minlength="3">
              </label>

              <label class="item item-input item-floating-label-1 cust_item_input">
             <input type="text" placeholder={{savedlang.kidbrthstatus}} ng-click="showBirthPopup()" required ng-model="user.birthDate" readonly="false" style="background-color:#fff;">
              </label>

              <label class="item item-input item-floating-label-1 cust_item_input">
                <input type="number" placeholder={{savedlang.mobile}} required ng-model="user.mobileNumber" maxlength="10" minlength="10">
              </label>

              <label class="item item-input item-floating-label-1 cust_item_input_last">
                <input type="email" placeholder={{savedlang.email}} required ng-model="user.email">
              </label>

              <button class="button button-block button-royal-1 cust_button_social btn_space_top" ng-disabled="myForm.$invalid" ng-click="goToVerification()">
                {{savedlang.next}}
              </button>

            </div>
          </div>
      </div>
   </div>
</ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
