<!-- Created  by Sarswati Kumar Pandey -->

<ion-view ng-init="init()">
  <ion-nav-title>{{savedlang.mombuzz}}</ion-nav-title>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-royal"
          ui-sref="menu.home">
          <i class="icon ion-ios7-arrow-back"></i>
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button icon ion-android-more-vertical button-icon" ng-click="popover.show($event)">
      </button>
    </ion-nav-buttons>

    <ion-content class="has-header bg_content_rss">

    <ion-refresher pulling-text="Pull to refresh"
         refreshing-text="Loading..."
         refreshing-icon="ion-loading-c"
         on-refresh="populateList()">
         </ion-refresher>

    <div class="list card button_shadow" class="item item-avatar" class="item-avatar" ng-repeat="feed in items track by $index">

      <div ng-click="browse(feed.content,feed.publishedDate,feed.title,feed.image,feed.link,feed.categories)">

        <div class="title_list item item-avatar-right" >
          <img src="{{feed.thumb}}">
          <h2 class="cust_feed_title">{{feed.title}}</h2>
          <div width="auto"><span ng-repeat="categories in feed.categories" class="cat_list">{{categories}}</span></div>
        </div>

      <div class="item item-body rssImgItem">

        <img src-lazy="{{feed.image}}" class="ri" src = "./img/cover3.png" />


    </div>

    <div class="item item-body rssImgItem">
      <p class="simple_content" ng-bind-html='feed.contentSnippet'></p>
    </div>

  </div>

  <div class="row cus_row">

      <div class="col col-30 cust_align cust_date" >{{feed.publishedDate}}</div>

    <div class="col col-10 col-offset-20 cust_align" ng-click="favSelected(feed)" ng-show="!feed.liked">
    <a class="icon ion-ios-heart-new"></a></div>

    <div class="col col-10 col-offset-20 cust_align" ng-show="feed.liked">
    <a class="icon ion-ios-heart-new-after"></a></div>

    <div class="col col-10"><a class="icon ion-android-share-alt-new" ng-click="OtherShare(feed.contentSnippet, feed.title, feed.link)"></a>
    </div>
  </div>

  </div>

<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="50%"></ion-infinite-scroll>

    </ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
