<!-- Created  by Sarswati Kumar Pandey -->

    <ion-view>
      <ion-nav-title>{{title}}</ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button icon ion-android-share-alt button-icon" ng-click="OtherShare(feedContent.content, feedContent.title, feedContent.link)">
        </button>
      </ion-nav-buttons>

      <ion-content>
        <img class="full-image" src-lazy="{{feedContent.image}}" src = "./img/cover3.png" style="background: #E6E6E6;background-size: contain;background-repeat: no-repeat;background-image: url('./img/cover3.png');"/>
        <h4 class="title_content">{{feedContent.title}}</h4>
        <p class="date_content"> {{feedContent.date}} </p>
              <div width="auto" class="rssContentCategory">
                <a ng-repeat="categories in feedContent.categories" class="cat_list">{{categories}}
                </a>
              </div>

        <div>
            <p class="full_content" ng-bind-html='feedContent.content | hrefToJS'> </p>
        </div>

        <div class="cust_border_rss_div">
            <p class="link_content" ng-bind-html='feedContent.link | linky | hrefToJS'> </p>
        </div>
  <br>
    </ion-content>

  </ion-view>

  <!-- Created  by Sarswati Kumar Pandey -->
