<!-- Created by Sarswati Kumar Pandey -->

<ion-modal-view>

        <ion-header-bar class="bar bar-header">
          <button class="button button-royal-4 icon ion-ios-close-empty" ng-click="closeDocSplFiltrModal()"></button>
          <h1 class="title cust_search_modal">{{savedlang.search}}</h1>
        </ion-header-bar>

        <ion-header-bar class="bar-light bar-subheader search_input_padding_left_top cust_search">

            <div ng-hide = "filtermodal.searchDoc.length" class="button search_icon button-icon ion-ios-search input-button search_icon_position">
            </div>
                <input type="search" placeholder={{savedlang.srchdoctrs}} ng-model="filtermodal.searchDoc" class="full-width">
              <div ng-hide = "!filtermodal.searchDoc.length" class="button  button-icon ion-ios-close-empty input-button search_icon_position" ng-click="clearSearchDoctor()">
              </div>

        </ion-header-bar>

        <ion-content>

          <ion-list class="cust_list" ng-repeat="item in listData | filter:filtermodal.searchDoc">

            <ion-item  class="item_loc" ng-click="sendSearchData(item)" ng-show="filtermodal.searchDoc.length>=3" style="border:0px;">
              {{item.Doc_Name}}
            </ion-item>

          </ion-list>
          <br>
        </ion-content>

</ion-modal-view>

<!-- Created by Sarswati Kumar Pandey -->
