<ion-view>
  
  <ion-header-bar class="bar-positive">
      <h1 class="title">Trying To  conceive
      </h1>

      <button class="button button-positive" ng-click="Back()">Back</button>
    </ion-header-bar>
    
    <ion-content>
 <!--   
   <label class="item item-input item-stacked-label">
    <span class="input-label">UserName</span>
    <input type="text" placeholder="John" ng-model="signupModal.username">
  </label>

<label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password" ng-model="signupModal.password" placeholder="John">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Confirm Password</span>
    <input type="password" placeholder="John">
  </label> -->
   
  <label class="item item-input item-stacked-label">
    <span class="input-label">My Name</span>
    <input type="text" ng-model="KidoroUser.name" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">My Weight (In kgs)</span>
    <input type="text" ng-model="KidoroUser.weight" placeholder="77">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">My Height (In cms)</span>
    <input type="text" ng-model="KidoroUser.height" placeholder="156">
   </label>
   
    

<label class="item item-select">
              <span class="input-label">Already have kids?</span>
             
        <select ng-model="KidoroUser.haveKids">
      
      <option ng-click="modalNoOfkids.show()">YES</option>
      <option selected> NO</option>
    </select>
If Yes , <label ng-click="goToKidsDetails()">give kids details here</label>
   </label>


<label class="item">
              <span class="input-label">How long have you been?
            </span>
            <input type="text" ng-model="KidoroUser.timeTryToConceive">
   </label>
<label class="item item-select">
              <span class="input-label">How are you trying to conceive?
            </span>
              <!-- <input type="text"> -->
        <select ng-model="KidoroUser.deliveryType">
      <option>Natural</option>
      <option> IVF</option>
      <option> OPTION 3</option>
      <option> OPTION 4</option>
    </select>
    </label>
<label class="item item-select">
              <span class="input-label">Any Complications?
            </span>
              <!-- <input type="text"> -->
        <select ng-model="KidoroUser.complications">
      <option>Obesity</option>
      <option> Diebetic</option>
      <option> Stress</option>
      <option> OPTION</option>
    </select>
    </label>
<button ng-click="doSignUp()">submit</button>
    </ion-content>
</ion-view>
    