<!-- Created  by Sarswati Kumar Pandey -->

<ion-view hide-nav-bar="true"  scroll="false" cache-view="false">
<ion-content class="backgroundLoginHome" scroll="false">

  <div class="adjustLoginHome">

      <div class="login_block_1">
            <div class="login_artwork"><img src="./img/Login_artwork_2.png" height="140" width="320"/></div>
            <div class="login_title">{{savedlang.verification}}</div>
            <div class="login_sub_title">{{savedlang.verifymobileno}}</div>
      </div>


      <div class="login_block_2">
          <div class="row cust_row">

            <div class="col cust_col" ng-form="myForm">

                  <div class="mobile_number"> +91 {{user.mobileNumber}} </div>


                  <label class="item  item-floating-label-1 cust_item_input_last_otp" id="manualOTPLabel">
                    <input type="number" placeholder={{savedlang.manuallyentrotp}}  minlength="6" maxlength="6" required ng-model="Otp.enteredOtp">
                  </label>
                  <button class="button button-block button-royal-1 cust_button_social" ng-click="goToWelcomeHome()" ng-disabled="myForm.$invalid">
                    {{savedlang.cnf}}
                  </button>
                  <div class="resendotp">
                    <a class="a2" ng-click="send()">{{savedlang.resendotp}}</a>
                  </div>


                  <br>

                </div>

            </div>
      </div>
  </div>
</ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
