<!-- Created  by Sarswati Kumar Pandey -->

<ion-view hide-nav-bar="true" scroll="false" cache-view="false">
<ion-content class="backgroundLoginHome" scroll="false">

  <div class="adjustLoginHome">

      <div class="login_block_1">
            <div class="login_artwork"><img src="./img/Login_artwork_1.png" height="140" width="320"/></div>
            <div class="login_title">{{savedlang.welcome}}</div>
            <div class="login_sub_title">{{savedlang.loginDetails}}</div>
      </div>

      <div class="login_block_2">
          <div class="row cust_row">

            <div class="col cust_col" ng-form="myForm">

              <label class="item item-input item-floating-label-1 cust_item_input">
                <input type="number" placeholder={{savedlang.mobile}} required ng-model="user.username">
              </label>


              <label class="item item-input item"  style="border-width: 0 0 1px 0; margin:0 28px 0 28px; padding: 0px; border-bottom-color :#939597;">

              <input  type="password" placeholder={{savedlang.unqkidcode}} required ng-model="user.kidoroCode"
                ng-attr-type="{{showPassword? 'text': 'password'}}"
               do-focus="showPassword"/>

               <ion-toggle ng-model="showPassword" style="border:none;" toggle-class="custom_toggle" >&nbsp;</ion-toggle>

            </label>

              <!-- <label class="item item-input item-floating-label-1 cust_item_input">
                <input type="password" placeholder={{savedlang.unqkidcode}} required ng-model="user.kidoroCode">
              </label> -->

              <div class="fpwd">
                <a class="a1" ng-click = "forgotPassword()">{{savedlang.forgotCode}}</a>
              </div>

              <button class="button button-block button-royal-1 cust_button_social" ng-click="goToHomePage()" ng-disabled="myForm.$invalid">
                {{savedlang.login}}
              </button>

            </div>

          </div>
      </div>
  </div>

</ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
