<!-- Created  by Sarswati Kumar Pandey -->

<ion-view hide-nav-bar="true" scroll="false" cache-view="false">
<ion-content class="backgroundLoginHome" >
  <div class="adjustLoginHome">

      <div class="login_block_1">
            <div class="login_artwork"><img src="./img/Login_artwork_3.png" height="140" width="320"/></div>
            <div class="login_title">{{savedlang.welcome}}</div>
            <div class="login_sub_title">{{savedlang.connectwidprtnr}}</div>
      </div>


      <div class="login_block_2">
          <div class="row cust_row">
            <div class="col cust_col">

                  <div class="kidoroCode">
                      <div class="skew"></div>
                        <div class="rect"></div>
                          <div class="dot-rect">
                                     {{savedlang.kidorocode}}<br>
                                  <span>{{kidoroCode}}</span>
                          </div>
                  </div>
                <!--   <button class="button button-small button-royal-1 cust_button_social " ng-click="OtherShare(kidoroCode)">
                    {{savedlang.sharecode}}
                  </button> -->
                  <!-- <div class="strike"><span>{{savedlang.or}}</span></div>
                  <label class="item  item-floating-label-1 cust_item_input_last_otp" id="manualOTPLabel">
                     <input type="text" placeholder={{savedlang.entrprtnrcode}} required ng-model="partner.kidoroCode">
                  </label> -->
                  <button class="button button-block button-royal-1 cust_button_social" ng-click="goToHomePage()" style="margin-top:10% !important">
                    {{savedlang.done}}
                  </button>
                </div>
            </div>
      </div>
    </div>
</ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
