* {
  margin: 0;
  padding: 0;
}
body {
  font-family: helvetica, arial;
}
body:after {
  /*content: url(../img/animals.jpg) url(../img/nature.jpg) url(../img/cats.jpg) url(../img/food.jpg) url(../img/muther.jpg);*/
  display: none;
}
.rowHeight{
  height: 50px !important;
}
.h2style{
  margin-top: -50px !important;
}
h1 {
  color: white;
  height: 40px;
  font-size: 74px;
  font-weight: normal;
  left: 0;
  z-index: 1;
  text-shadow: 0 2px 0 black, 0 0 10px black;
}
.parallax {
  position:absolute;
  left: 0;
  top: 0;
}
.photo {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
}
.photo span {
  bottom: 0;
  color: white;
  display: block;
  left: 50%;
  margin-left: -640px;
  font-size: 38px;
  padding: 10px;
  position: absolute;
  text-shadow: 0 2px 0 black, 0 0 10px black;
  width: 1280px;
}
.food {
  background-image: url(../img/food.jpg);
}
.cats {
  background-image: url(../img/cats.jpg);
}
.animals {
  background-image: url(../img/animals.jpg);
}
.nature {
  background-image: url(../img/nature.jpg);
}
