/* Edited by Sarswati Kumar Pandey */

.fab-button {
bottom: 25px !important;
/*top: 30px !important;*/
background-color: #009999 !important;
}

.pres_card {
margin: 5px;
}

.presImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 0;
}
.customBadge{
background-color: #ef473a;
    color: #fff;
    /* position: absolute!important; */
    right: 21% !important;
    top: 17px !important;
    font-size: 11px;
    border-radius: 250px;
    padding: 0px 5px 0px 5px;
}
.customBadgeHeader{
  background-color: #ef473a;
    color: #fff;
    /* position: absolute!important; */
    /*right: 21% !important;
    top: 17px !important;*/
    font-size: 11px;
    border-radius: 250px;
    padding: 0px 5px 0px 5px;
}

.borderPresItem {
  border-style: none !important;
  border-width: 0 !important;
}

.uploaded_by {
  font-size: 8px !important;
  font-weight: bold;
}

.uploaded_by_item {
  padding: 10px;
  border: 0;
}

.pres_span {
  font-size: 12px;
}

.pres_span_left {
  float: left;
}

.pres_span_right {
  float: right;
}

.pres_lht {
  line-height: 0;
}

/* Kidoro Group chat css */

.custom_chat_footer {
    background-color: #fff !important;
    /* padding: 0px; */
    border-top: 1px solid #009999 !important;

    /* bottom: 50px; */
    width: 100%;
}

.ion-android-send:before {
    content: "\f2f6";
    color: #009999;
}

.footer-btn-wrap {
  position: relative;
    height: 100%;
    width: 50px;

}

.footer-btn {
  position: absolute !important;
  bottom: 0;
  padding: 0 !important;
}

img.profile-pic {
  width: 40px;
  /*height: 40px;*/
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: -50px;
}

img.profile-pic.right {
  right: -50px;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}


.message-wrapper {
  position: relative;
  margin-bottom: 10px;
}


.chat-bubble {
  /*border-radius: 0px;*/
  display: inline-block;
  padding: 4px 18px;
  position: relative;
  margin: 10px;
  max-width: 100%;
}

.chat-bubble:before {
  /*content: "\00a0";*/
  display: block;
  height: 16px;
  width: 9px;
  position: relative;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color:#e0f2f2;
  float: left;
  margin-left: 35px;
}

.chat-bubble.left:before {
  background-color: #e0f2f2;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}
.chat-bubble.right {
  background-color:#e0f2f2;
  color: #111;
  float: right;
  margin-right: 30px;
}

.chat-bubble.right:before {
  background-color: #e0f2f2;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

/* Kidoro Group chat css */

.mymodal {
   width: 100%;
   height: 90%;
   top: 58%;
   left: 0%;
   right: 0%;
   bottom: 5%;
}

@media (min-width: 680px) {
  .mymodal {
     width: 100%;
     height: 90%;
     top: 58%;
     left: 0%;
     right: 0%;
     bottom: 5%;
  }
}

.ion-record:before {
    content: "\f21b";
    font-size: 6px;
    vertical-align: middle;
    color: #999;
    margin-bottom: 1px;
    margin-right: 3px;
}

/* image show in modal */


.selectedLang {
  color: #009999;
}

.transparent {
  background: transparent !important;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  border: 1px solid #fff;
}

.fullscreen-slide {
  max-width: 100%;
max-height: 100%;
bottom: 0;
left: 0;
margin: auto;
overflow: auto;
position: relative;
right: 0;
top: 0;
border: 1px solid #fff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }

  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
/* image show in modal */

.doc_list_btn {
  background-color: #009999 !important;
  box-shadow: none !important;
  border-top: 0;
  border-radius: 0px !important;

}

.doc_list_btn_txt {
      line-height: 3.3;
      font-size: 16px;
}

.ion-ios-search:before {
    content: "\f4a5";
     font-size: 25px !important;
}

.imagePres {
  height: 80px;
  width: 80px;
}

.centertext {
  text-align: center;
}

.minuscolorpresptn {
  color: #f0565e;
}

.pluscolorpresptn {
  color: #82C44D;
}

.minuspluspresptn {
  font-size: 25px;
  line-height: initial;
}

.ordercnfmargin {
  margin-top: 15% !important;
}
.ordercnfquery {
  margin-top:20px;
}

.addressviewlist {
padding-left: 20px;
padding-right: 20px;
}

.addressviewinputlabel {
  color: #009999;
    font-size: 14px;
}

.addressviewlabel {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.ion-funnel:before {
    content: "\f31b";
    font-size: 20px !important;
    font-weight: 100 !important;
}

.services_list {
margin-bottom: 0px;
}

.tests_list {
  margin-bottom: 0px;
  margin-left: 10px;
}

.more_less_show {
  color: #009999;
  text-decoration: underline;
  font-size: 11px;
}

.more_less_show_lab {
  color: #009999;
  text-decoration: underline;
  font-size: 11px;
  margin-left: 10px;
}

.ion-ios-trash-outline {
  content: url('../img/trash.png') !important;
  height: 25px !important;

}

.ion-gear-b-duedate {
  content: url('../img/pregnant.png') !important;
  height: 40px !important;
  margin-top: 8px;

}

.ion-gear-b-birthdate {
  content: url('../img/parent_1.png') !important;
  height: 40px !important;
  margin-top: 8px;

}

.birthItem {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;

}

  .scroll.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}

.button.button-left{
  border-right:0.5px;
}

  .button.adjust-button-labtest {
  margin-left:-1%;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:3px;
  padding-top: 3px;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  border-top-width: none;
  border-top-style: none;
  border-radius: 0px !important;

}


.button.adjustHomeButtonBlock {
margin-top: 0px !important;
margin-bottom: 0px !important;
border-radius: 0px !important;
border-bottom-width: inherit; }

.button.adjustHomeButtonBlockLast {
margin-top: 0px !important;
margin-bottom: 0px !important;
border-radius: 0px !important;
 }

/* Edited by Sarswati Kumar Pandey */

.rssImgItem {
border: 0px !important;
}

 .agreement {
   line-height: initial;
   padding-top: 9%;
   font-size: 12px;
   text-align: center;
 }

 .terms_of_use {
   color: #009999;
    text-decoration: initial;
 }

 .bg_content_apt {
   background: #F8F8F8;
   top: 56px;
   height: 100%;
 }

.lab_hospital_icon {
  width: 30px !IMPORTANT;
  height: 32px !important;
  margin-top: 10px;
}

 .lab_text_content {
   margin-left: 10px;
 }

 .doc_txt_color {
     text-decoration: underline;
     margin-left: 10px;
 }

.details_label_text {
  font-size: 13px !important;
    color: #009999 !important;
}

.details_label {
  border-left: 0px;
  border-right: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
  border-top:0px;
}

 .hospital_ext {
   margin-top: -2px !important;
 }

.doc_list_label {
  color: #009999;
  margin-bottom: 0px;
  margin-top: -2px;
  font-size: 11px;
  line-height: initial;

}


.c_review {
margin-top: 5px;
margin-left: 10px;
}

.c_services {
margin-top: -4px;
}

.c_address {
  margin-top: 5px;
}

.spl_icon {
  height: 30px !important;
  width: 30px !important;
}

 .bg_content {
   background: #F8F8F8;
 }

 .bg_content_rss {
   background: #F8F8F8;
   top: 56px;
 }

 .spinner-android {
     stroke: #009999;
     fill: #009999 !important;
 }


img.ri
{
  position: relative;
  max-width: 80%;
  top: 10%;
  left: 10%;
  /*border-radius: 3px;*/
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.9);*/
  /*background-image: url("../img/cover3.png");
  background-position: center;
  background-repeat: no-repeat;*/
}

img.ri:empty
{
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50.08%, 1%);
  -moz-transform: translate(-50.08%, 1%);
  -ms-transform: translate(-50.08%, 1%);
  -o-transform: translate(-50.08%, 1%);
  transform: translate(-50.08%, 1%);
}

@media screen and (orientation: portrait) {
  img.ri {
      /*max-width: 80%;*/
      max-width: 100%;
      max-height: 300px;
  }
}

@media screen and (orientation: landscape) {
  img.ri {
      max-height: 90%;
  }
}


.locationDays {
  margin-top: 7px !important;
}


.doc_fee {
  line-height: 3;
    text-align: center;
}


/* menu icon */
.menu_padding .list {
  padding-top: 10px !important;

}

.menu_cust_border {
border-top: 0px;
}

.ion-ios-close-empty:before {
    content: "\f404";
    font-size: 40px !important;
}

.ion-medkit-home {
  content: url('../img/home.png') !important;
  height: 20px !important;
  margin-top: 13px;
  margin-left: 10px;
}

.ion-social-nodejs:before {
    content: url('../img/demo.png') !important;

}

.ion-social-sass:before {
    content: url('../img/demo.png') !important;

}

.ion-gear-b-apt {
  content: url('../img/appointment_menu.png') !important;
  height: 20px !important;
  margin-top: 13px;
  margin-left: 10px;
}
.ion-gear-b-chat{
     content: url('../img/chat.png') !important;
    height: 34px !important;
    margin-top: 10px;
    margin-left: 4px;
}
.ion-gear-b-labtest{
     content: url('../img/home-12.png') !important;
    height: 34px !important;
    margin-top: 10px;
    margin-left: 4px;
}
.ion-gear-b-notification{
content: url('../img/notificaton.png') !important;
 height: 34px !important;
 margin-top: 7px;
 margin-left: 4px;
}



.ion-gear-b-report {
  content: url('../img/report.png') !important;
      height: 22px !important;
      margin-top: 13px;
      margin-left: 7px;
      width: 26px;
}
.ion-gear-b-order {
      content: url('../img/my order.png') !important;
    height: 34px !important;
    margin-top: 5px;
    margin-left: 1px;
    /* width: 26px; */
}

.ion-gear-b-about-us {
  content: url('../img/about_us_menu.png') !important;
  height: 20px !important;
  margin-top: 13px;
  margin-left: 10px;
}

.ion-gear-b-rate-us {
  content: url('../img/rate_us.png') !important;
  height: 20px !important;
  margin-top: 13px;
  margin-left: 10px;
}

.ion-gear-b-signout {
  content: url('../img/logout.png') !important;
  height: 20px !important;
  margin-top: 13px;
  margin-left: 10px;
}

.ion-gear-b-signin {
  content: url('../img/login.png') !important;
  height: 20px !important;
  margin-top: 13px;
  margin-left: 10px;
}



/*menu icon */


.ng-leave{
  -webkit-animation: fadeOutRight 2s;
  -moz-animation: fadeOutRight 2s;
  -o-animation: fadeOutRight 2s;
  animation: fadeOutRight 2s;
}



/* custom dob popup */

.popup_dob.popup-container .popup {
  background-color: #fff;
    border-radius: 10px;
    width: 250px;
    height: 190px;
}

.popup_dob.popup-container .popup-title {

      font-size: 20px;
      text-align: left;
      padding-left: 20px;
      font-weight: bold;
      /*text-align: center;*/

}

.popup_dob .popup-head {
  border: 0px;
}

.popup_dob .popup-buttons {
background-color: #fff !important;
border-radius: 10px;
}

.popup_dob .popup-buttons .button{
background-color: #fff !important;
border: 0;
box-shadow: none;
}

.popup_dob .popup-buttons .button .activated{
background-color: #fff !important;
box-shadow: 0px !important;
}

.button-full-kidordob {
  background-color: #fff;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 14px;
  margin-top: 5px;
  box-shadow: none !important;
    }


/* custom dob popup */

/* custom popup for profile pic upload */



.custom_popup_profile.popup-container .popup {
  background-color: #fff;
    border-radius: 10px;
    width: 250px;
    /*width: 200px;*/
}

.custom_popup_profile.popup-container .popup-sub-title {
font-weight: normal;
font-size: 13px;
padding-top: inherit;
text-align: center;
}

.custom_popup_profile.popup-container .popup-title {

      font-size: 20px;
      text-align: left;
      padding-left: 20px;
      font-weight: bold;
      /*text-align: center;*/

}

.custom_popup_profile.popup-container .popup-head {
    padding: 15px 10px;
    border-bottom: 0px;
    text-align: center;
}

.custom_popup_profile.popup-container .popup-body {
    padding-left: 20px;
    overflow: auto;
  font-size: 18px;
  color:#444242;
}

.button.button.ng-binding.button_camera {
  border-color: #fff;
      background-color: #fff;
      color: #444;
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0px;
      min-width: 50px;
      min-height: 50px;
      border-width: 0px;
      line-height: 50px;
      cursor: pointer;
      box-shadow: none;
}

.ion-camera:before {
    content: "\f118";
    font-size: 40px !important;
    color: #009999;
}

.ion-image:before {
    content: "\f147";
    font-size: 35px !important;
    color: #009999;
}

.ion-close:before {
    content: "\f12a";
    font-size: 30px !important;
    color: #f0565e;
}


/* custom popup for profile pic upload */

/* custom popup for languagechange */

.custom_popup_language.popup-container .popup {
    background-color: #fff;
    border-radius: 10px;
    width: 250px;
    max-height: 380px;
    box-shadow: 0px 2px 36px 15px rgba(0,0,0,0.16);
    /*width: 200px;*/
}

.custom_popup_language.popup-container .popup-sub-title {
font-weight: normal;
font-size: 13px;
padding-top: inherit;
text-align: center;
}

.custom_popup_language.popup-container .popup-title {

      font-size: 20px;
      text-align: left;
      padding-left: 20px;
      font-weight: bold;
      /*text-align: center;*/

}

.custom_popup_language.popup-container .popup-head {
    padding: 15px 10px;
    border-bottom: 0px;
    text-align: center;
}

.custom_popup_language.popup-container .popup-body {
    /*padding-left: 20px;*/
    overflow: auto;
  font-size: 18px;
  color:#444242;
}

.custom_popup_language .popup-buttons {
    padding-top: 0px;
    padding-bottom: 0px;
}

.button.button.ng-binding.button_lang_close{
  border-color: #fff;
      background-color: #fff;
      color: #f0565e;
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0px;
      min-width: 50px;
      min-height: 50px;
      border-width: 0px;
      line-height: 50px;
      cursor: pointer;
      box-shadow: none;
}


  .lang_css {
    border: 0;
    padding: 10px;
    text-align: left;
    margin-left: 15px;
}


/* custom popup for languagechange */

/* show more and less jquery css */

.closedDay {
  margin-top: 20%;
  margin-left: 20%;
}

.closedDayText {
font-size: 13px;
color: #888484;
}

div.text-container {
    margin: 0 auto;
    width: 100%;
}

.text-content{
    line-height: 1.5em;
    margin-top: 3px !important;

}

.short-text {
    overflow: hidden;
    height: 1.5em;
}

.full-text{
    height: auto;
}


.show-more {
    padding: 10px 0;
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
}

/* show more and less jquery css */

/* custom_pop_up confirm */

.custom-popup.popup-container .popup {
  background-color: #fff;
    border-radius: 10px;
    width: 300px;
}

.custom-popup.popup-container .popup-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: -webkit-left;
    padding-left: 10px;

}

.custom-popup.popup-container .popup-head {
    padding: 15px 10px;
    border-bottom: 0px;
    text-align: center;
}

.custom-popup.popup-container .popup-body {
    padding-left: 20px;
    overflow: auto;
  font-size: 18px;
  color:#444242;
}

.custom-popup.popup-container .popup-buttons {
    flex-direction: row;
    padding: 10px;
    min-height: 65px;
    min-width: 200px;
    width: 100px;
    margin-left: auto;
}

button.button.ng-binding.button-no {
    color: #5e9cf7;
    background-color: #fff;
    border: 0px;
  padding:0px
    margin-right: 0px;
    margin-left: 50px;
}

button.button.ng-binding.button-yes {
  color: #ef4545;
    background-color: #fff;
    border: 0px;
  padding:0px;
      margin-right: 30px;
}

button.button.ng-binding.button-yes.activated {
  color:#fff;
    background-color: #969393;
    border: 0px;
  border-radius:5px;

}

button.button.ng-binding.button-no.activated {
    background-color: #fff;
    border:0px;
  box-shadow:none;
}

/* custom_pop_up confirm */

/* ------custom alert popup-------  */

.custom-popup-alert.popup-container .popup {
  background-color: #fff;
    border-radius: 10px;
    width: 300px;
}

.custom-popup-alert.popup-container .popup-head {
    padding: 15px 10px;
    border-bottom: 0px;
    text-align: center;
      padding-bottom: 10px;
}

.custom-popup-alert.popup-container .popup-body {
    padding-left: 20px;
    overflow: auto;
  font-size: 18px;
  color:#444242;
    line-height: 1.5;
}

.custom-popup-alert.popup-container .popup-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: -webkit-left;
    padding-left: 10px;


}

.custom-popup-alert.popup-container .popup-buttons {
    flex-direction: row;
    padding-left: 0px;
  padding-right:0px;
  padding-top:10px;
  padding-bottom:0px;
    min-height: 50px;
}

button.button.ng-binding.button-alert-ok {
  color:red;
    background-color: #fff;
  border-left:0px;
  border-right:0px;
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

button.button.ng-binding.button-alert-ok.activated {
  color: red;
   background-color: #ddd;
    border-left:0px;
  border-right:0px;
  border-top:0px;
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


/* ------custom alert popup-------  */



/* custom loading */

.loading{
  background-color:  #fff !important;
  color:#000 !important;
}

.spinner.spinner-energized {
    stroke: #009999;
    fill: #009999;
}

.spinner-android.spinner-energized .stop2 {
    stop-color: #009999;
}

.loading_cust {
    color: #000;
    display: inline-block;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: super;
}

/* custom loading */

.cust_location {
  color: #027373 !important;
}

.btn_upload {
  border-color: #009999;
      background-color: #009999;
      color: #444;
      position: relative;
      display: inline-block;
      margin: 0;
      margin-top: -5px;
      padding: 0px 10px;
      min-width: 35px;
      min-height: 20px !important;
      border-width: 0px;
      border-style: none;
      border-radius: 0px;
      vertical-align: top;
      text-align: center;
      text-overflow: ellipsis;
      font-size: 12px;
      font-weight: bold;
      line-height: 32px;
      cursor: pointer;
      z-index: 10;
}

.footer_btn {
      position: fixed;
      bottom: 0;
      top: auto;
      border-top-width: 0px;
      border-bottom-width: 0;
      background-position: top;
      height: 50px;
      color: #fff;
      background-color: #f0565e;
      width: 100%;
      left: 0;
      right: 0;
      margin: 0px !important;
      z-index: 20;
      font-size: 18px !important;
      line-height: 25px !important;
      padding: 12px !important;
      min-height: 50px !important;
      border-width: 0px !important;
      border-style: none !important;
      border-radius: 0px !important;
      vertical-align: top !important;
      text-align: center !important;
      text-overflow: ellipsis !important;

}

.footer_btn.activated {
    border-color: #f0565e;
    background-color: #f0565e;
    box-shadow: none !important;
  }

  .footer_btn:hover {
      color: #fff !important;
    }

.card {
  margin: 10px;
  border: 1px solid #ddd;
    /*box-shadow: 0px 0px 5px 0px #dfdfdf !important;*/
    box-shadow: none;
}

.cust_pop_up {

}

.cust_date{
  font-size: 12px;
    color: #ccc;
}

.timing_cust {
      color: #999;
      /* margin-left: 15px; */
      font-size: 12px;
      margin-top: -10px !important;
}

.cust_margin_text {
  line-height: 3;
}

.date-button.activated {
box-shadow: 0 !important;
}

.selected {
    background-color: #009999;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}


.activeTime {
    padding-top: 5px;
    padding-bottom: 5px;
    /*font-size: 16px !important;*/
}


.margin_home {
    margin-left: 3px;
    margin-right: 3px;
    height: 50%;
}
.cust_direction {
    margin-top: 10px;
}

.icon_cust {
font-size: 25px !important;
}

.col_left_home {
border-left: 0px;
}

.col_right_home {
  border-right: 0px;
}

.cust_border_rss_div {

}

.cust_title_apt {
  margin-left: 20px;
}

.item_loc {
  margin-left: 20px;
    margin-right: 20px;
    border-left: 0px;
    border-right: 0px;
    font-size: 15px;
}

.modal_cust_title {
  text-shadow: none;
  font-size: 17px !important;
  margin-left: 35px !important;
}

.cust_search_modal {
  text-shadow: none;
  font-size: 17px !important;
}

.cust_img {
    width: 100%;
    height: 50%;
}

.rssContentCategory {
  margin-left: 15px;
}

.img_div {
/*max-height: 255px;*/
}

.adjust_loc_icon {
    font-size: 18px;
    position: absolute;
    top: 3px;
    margin-left: 6px;
}


.cust_logout {
  background-color: #009999;
      border: 0px;
      color: #fff;
      font-size: 15px;
      line-height: 44px;
      padding-right: 10px;
}

.cust_popover {
      margin-top: 5px !important;

      /*margin-left: 70px !important;*/
      border-radius: 0px !important;
      /* box-shadow: none !important; */
      height: 55px;
      width: 110px;
}

.cust_search {
  border-bottom-color: #009999 !important;
      border-bottom: 1px solid #009999 !important;
      border-bottom-width: thin;
}

.margin_lab_locality {
    margin-top: 7px !important;
    margin-bottom: 0px !important;
}

.Doctor_degree {
  font-size: 13px;
  text-transform: uppercase;
}

.cust_feed_title {
  text-transform: uppercase;
    font-size: 13px !important;
    color: #504D4D !important;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;

}


.cust_footer_bar {
    height: 60px;
}

.cust_ftr_btn_left {
    background-color: #fff;
    border-bottom: 0px;
    color: #f0565e;
    border-left: 0px;
    border-radius: 0px !important;
}

.cust_ftr_btn_right {
    border-radius: 0px !important;
    border-right: 0px;
    background-color: #fff;
    border-bottom: 0px;
    color: #009999;
}

.cust_content_margin {
  top:56px;
}

.cust_or_row {
  padding: 0px;
margin-top: 5px !important;
margin-bottom: 5px;
}

.cust_form_item_demo {
  border: none;
}

.cust_btn_demo {
  margin-left: 10px;
}

/* menu only css here */
  .cust_tabs_top .tabs {
      top: 269px;
      /*color: #9B9CA0 !important;*/
      /*background-color: #009999 !important;*/
  }

.cust_form_item {
border-left: none;
border-right: none;
padding-left: 10px;
    padding-right: 10px;
}

.cust_form_item_id {
border-top: none;

}


.cust_form_list {
      margin-left: 70px !important;
      margin-right: 70px !important;
}

.kid_div {
  margin-top: 15px;
}

/*.cust_btn_menu{
    width: 80px !important;
    color: #009999 !important;
    border-color: #009999 !important;
    background-color: #fff !important;
}*/

.cust_color {
  color: #9B9CA0 !important;
}

.cust_border .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
    border-bottom: 2px solid #009999 !important;
}

.contentBackground {
  background-color: #fff;
}

.side-menu-header {
  background-color: #009999;
  text-align: center;
  height: 299px;
  border: 0px;

}

.side-menu-header-profile {
  background-color: #009999;
  text-align: center;
  height: 255px;
  border: 0px;

}

.avtar {
    -webkit-user-drag: none;
    position: static;
    top: 16px;
    left: 16px;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
     height: 100%;
    border-radius: 50%;
}

.avtar_no_img {

}

.avtar_profile {
    -webkit-user-drag: none;
    position: static;
    top: 16px;
    left: 16px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
     height: 100%;
    border-radius: 50%;
}

.cust_edit {
  top: 10px;
  right: 10px;
}


.ion-edit_content {
  content: url('../img/edit.png') !important;
  height: 25px;
}

input[disabled] {
  background-color: #fff;
}

.cust_btn_profile {
  border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 2px !important;
    background-color: #fff;
    border-color: #fff;
    color: #ccc;
    border-radius: 0px !important;
}

.ion-person-content {
  content: url('../img/home-15.png') !important;
  left: 0px !important;
  height: 50px !important;
  margin-left: -5px !important;
}

.ion-person-content_apt {
  content: url('../img/home-15.png') !important;
  left: 0px !important;
  height: 25px !important;
  width: 28px;
  margin-left: 15px !important;
  margin-top: 5px;
}

.ion-ios-medkit-content {
  content: url('../img/icons-16.png') !important;
  left: 0px !important;
  height: 50px !important;
}

.ion-ios-medkit-content_apt {
  content: url('../img/icons-16.png') !important;
    left: 0px !important;
    height: 32px !important;
    margin-left: 14px !important;
    margin-top: 3px;
}

.ion-ios-time-content {
  content: url('../img/time.jpg') !important;
  left: 0px !important;
  height: 50px !important;
}

.ion-ios-time-content_apt {
  content: url('../img/time.jpg') !important;
    left: 0px !important;
    height: 28px !important;
    margin-left: 14px !important;
    margin-top: 4px;
}

.ion-ios-location-content {
  content: url('../img/icons-15.png') !important;
  left: 0px !important;
  height: 50px !important;
}

.ion-ios-location-content_apt {
  content: url('../img/icons-15.png') !important;
    left: 0px !important;
    height: 28px !important;
    margin-left: 13px !important;
    margin-top: 6px;
}

.ion-calculator-content_apt {
  content: url('../img/aptid.png') !important;
left: 0px !important;
height: 20px !important;
margin-left: 18px !important;
margin-top: 9px;
}

.ion-ios-telephone_apt {
  content: url('../img/phone.png') !important;
    left: 0px !important;
    height: 20px !important;
    margin-left: 15px !important;
    margin-top: 8px;
}

.ion-email_apt {
  content: url('../img/email.png') !important;
    left: 0px !important;
    height: 18px !important;
    margin-left: 16px !important;
    margin-top: 11px;
}

.adjust_avtar {
margin-top:90px;

}

.adjust_avtar_profile {
  margin-top: 45px;
}

.cust_item_color {
  border-color: #f7f7f7;
  background-color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #f7f7f7 !important;
}

.cust_item_color a {
  background-color: #fff !important;
}

.cust_item_color a:active {
  background-color: none !important;
}

.cust_btn_menu {

}


.colorPatientName {
  color:#fff !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.badge-assertive-custom {
  background-color: #009999;
    color: #fff;
    border-radius: 50% !important;
    font-weight: normal !important;
}

.badge-assertive-confirm {
    background-color: #009999;
    color: #fff;
    border-radius: 10px !important;
    font-weight: normal !important;
    right: 0px !important;

}

.badge-assertive-visited {
    background-color: #ffb835;
    color: #fff;
    border-radius: 10px !important;
    font-weight: normal !important;
    right: 0px !important;

}

.badge-assertive-cancel {
    background-color: #f0565e;
    color: #fff;
    border-radius: 10px !important;
    font-weight: normal !important;
    right: 0px !important;

}

.total_badge {
    top: 100px !important;
    right: 105px !important;
}

.item-text-wrap-custom {
    white-space: normal;
    /* justify-content: center; */
    text-align: justify;
    font-size: inherit;
    border: none;
}

.cust_terms {
  font-size: small !important;
    font-weight: normal !important;
    color: #009999 !important;
}

.remove_border {
  border: none;
  padding-bottom: 5px;

}

.cust_card_margin {
  margin-top: -10px;
  padding-bottom: 0px !important;
}

.cust_title {
  text-align: center;
}
.item_cust_color {
  background-color: #fcfcfc !important;
  border: none;
  border-bottom: 1px solid #009999;
}

.remove_row_padding {
  padding: 0px !important;
  margin-top: 2px;
}

.cust_btn_color {
border-color: #009999 !important;
color: #009999;
}

.cust_padding_bottom {
  padding-bottom: 15px;
    padding-top: 5px !important;
}

.cust_color_booking_txt {
  color: #737373;
  font-size: 14px !important;
  text-align: center;
  margin-top: 60% !important;
}

.cust_color_booking {
  color: #737373;
  font-size: 14px !important;
  text-align: center;
  margin-top: 60% !important;
}

.appointmentdetails_item {
    border: none;
    font-size: 13px;
    color: #636060;
    padding-top: 10px;
    padding-bottom: 10px;
}

.telephone {
  text-decoration: none;
  color: #82C44D;
}
/* menu only css here */


/* Patient App w/o menu css here */

/* Empty. Add your own CSS if you like by saras */
.block_2 {

  width: 90%;
  height: 100%;
  position: absolute;
  top: 57%;
}

.cust_btn_profile {
  border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 2px !important;
    background-color: #fff;
    border-color: #fff;
}

.booking_baby_image {
  width: 100%;
  height: 250px;
}

.cust_btn_bar {
  margin-top: -10px;
}

.cust_clinic_itm {
 padding: 0px 16px 0px 16px;
   border: 0px;
}

.icons_doc_font {
  font-size: 13px;
  color: #635F5F;}

.box {
   /*margin-bottom: 100px;*/
}

.booking_time_cust {
 flex-wrap: wrap;
 padding-bottom: 80px;
}

.margin_booking_time {
  margin-left: 20px;
  margin-right: 20px;
}

.col_padding_booking {
 padding-top: 5px;
 padding-bottom: 5px;
 text-align: center;

}

.booking_row_mrgn {
 margin-top: 15px;
}

.booking_time_btn {
 border: 0px;
 background-color: #fff !important;
 color: #5E5E60;
 padding-bottom: 15px;
}

/* Ionic css overrided */

.item.active, .item.activated {
   border-color: #fff;
   background-color: #fff;
}

/* Ionic css overrided */


.search_input_padding_left_top{
 padding: 8px 0 0 35px !important;
}

.cust_date_booking {
 font-size: 15px;
 width: 30px !important;
 height: 30px !important;
 background: #fff;
 -moz-border-radius: 50px;
 border-radius: 50%;
 color: #000;
 /*font-weight: bolder;*/
 margin-bottom: 5px;
}



.cust_date_label {
 text-align: center;
 color: #565657;
 font-size: 11px;
 /*font-weight: 500;*/
}

.activeDay {
   font-size: 15px;
   width: 30px !important;
   height: 30px !important;
   background: #fff;
   -moz-border-radius: 50px;
   border-radius: 50%;
   /*color: #000;*/
   /*font-weight: bolder;*/
   margin-bottom: 5px;
   line-height: 2;
   }

   .activatedDay {
     background: #009999 !important;
     color: #fff;
     font-weight: bold;
   }

.cust_day_booking {
 color: #ccc;
 font-size: 10px;
 margin-bottom: 0px;
}

.calenderBooking {
 margin-top: 20px !important;
}

.table_booking {

}

.full-map {
 width: 100% !important;
 height: 100% !important;
}

.hosp_name_margin {
  margin-top: 12px !important;
      margin-left: 9px;
}

.name_margin {
  margin-top: 5px !important;
     margin-left: 10px;
}

.name_margin_day {
  margin-top: 10px !important;
     margin-left: 10px;
}

.text_color_white {
  color: #Fff;
   text-shadow: 0.5px 0.5px #000;
   /* margin-left: -18px; */
   /* margin-top: 17px !important; */
   font-weight: bold;
   font-size: 14px;
}

.margin_experience {
 color: #9D9EA0;
 overflow: visible;
 margin-top: 10px !important;
}

.search_icon_position{
color:#009999 !important;
top:9px !important;
right: 10px !important;
}

.has-subheader {
   /*top: 100px !important;*/
   /* by saras */
   top: 108px !important;

}



.bar-subheader{
 top: 55px !important;

}

.cust_diagn_item {
 border-left: 0px;
 border-right: 0px;
}

.margin_hospital_icon {
     margin-left: -10px;
}

.adjustCommonTest {
 text-align: -webkit-center;
   color: #009999;
   margin-top: 0px;
   font-size: initial;
}

/* Ionic css overrided by saras for checkboxes color */

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
   background: #009999;
   border-color: #009999;

 }

/* Ionic css overrided by saras */

.diag_but {
    background-color: #009999 !important;
    border: 0px !important;
    border-color: #009999 !important;
    box-shadow: none !important;
}

.ion-ios-checkmark-empty:before {
   font-size: 40px !important;
}

.animate-hide {
 -webkit-transition: all linear 0.5s;
 transition: all linear 0.5s;
 line-height: 20px;
 opacity: 1;
 padding: 10px;
 border: 1px solid black;
 background: white;
}

.animate-hide.ng-hide {
 line-height: 0;
 opacity: 0;
 padding: 0 10px;
}

.check-element {
 padding: 10px;
 border: 1px solid black;
 background: white;
}

.btn_home_frst_row {
 border-top: 0px;
}


/* search box css */

.button.button-icon.input-button {
 position: absolute;
 right: 0;
 top: 5px;
 color: #bbb;
}


.full-width {
 width: 100%;
}

.full-width-input {
 width: 100% !important;
     padding-right: 0px !important;
}

/* Empty. Add your own CSS if you like by saras */

/* doctor List page css by Aditya */

.tex-wrap {
   white-space: normal;
   width: 90%;
   /* overflow hidden ----> visible by saras */
   overflow: visible;
   text-overflow: ellipsis;

}

.Doctor_name{
  font-size: 18px;
  margin: 0 0 0 0 !important;
  line-height: initial;
}

.doc_col_margin {
  margin-top: 5px;
}

.Doctor_exp{
      margin: 0 0 0 0 !important;
      color: #9d9fa1;
      text-transform: uppercase;
      font-size: 12px;
}

.Doctor_speciality{
    color: #9d9fa1;
    text-transform: uppercase;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.icons_doc{

  font-size: 13px;
}

.icons_doc img{
  height: 40px;
  width:36px;
}

.item_top_border{
  border-top: 1px solid #ddd !important;
  padding-top: 5px;
  padding-bottom: 0px;
}

.cust_col_1 p{
  padding: 10px 0 0 0 !important;
  color: #9d9fa1;
  font-size: 13px;
}

.cust_col_1 button{
  /* margin: 0 0 0 15px; */
  background-color: #f0565e !important;
  color: #fff !important;
  border:none !important;
  /*width: 100%;*/
  min-height: 30px !important;
  height: 40px;
}

 .cust_col_1_align_right {
   text-align: -webkit-right;
   position: fixed;
    /* color: red !important; */

 }


/* Doctor List Page by Aditya */

 /* RSS Content by Sarswati Kumar Pandey*/

     .cust-bar-header {
     height: 55px !important;
     /*background-color: #009999 !important;*/
     background-color: rgba(0, 153, 153, 0.6) !important;
     background-image: none !important;
     }
     .cust-bar-header > * {
     margin-top: 20px !important;
     }

    .cust-bar-header-doc-details {
    height: 55px !important;
    /* background-color: #009999 !important; */
    background-color: rgba(0, 153, 153, 0) !important;
    background-image: none !important;
}

.cust-bar-header-doc-details > * {
margin-top: 20px !important;
}


     .cust-scroll-content{
     top:0 !important
     }

     .bar-hidden{
     opacity: 0;
     }

     .cust_btn {
         bottom: 15px;
         color: #fff !important;
     }

     .cust_fav {
     margin-left: 255px;
     }

     .cust_margin {
     margin-top: -6px;
     }

  /* RSS Content by Sarswati Kumar Pandey*/

.scroll-bar-indicator
{
 display: none;
}

.paddingBottomParallax {
 padding-bottom: 0%;
}

.adjustHomeButtonBlockLast {
 border-bottom: 0px;
}

.divTop {
  margin-top: -25px !important;
     padding-bottom: 15px;
     font-size: 13px;
     color: #65385B;
}

.homeBtnBorderClr {
  border-color: #EEF2F5 !important;
  padding-top: 12px;
  padding-bottom: 12px;
}




.parallax{
   position: relative;
    padding-bottom: 0%;
    padding-top: 0px;
    overflow: hidden;
}

/*Parallax by Sarswati Kumar Pandey*/


/* sarswati kumar pandey model kidor birth status css */

.modal-center {
 width: 90%;
 height: 80%;
 top: 40%;
 bottom: 20%;
 left: 5%;
 right: 5%;
 min-height: 0;
}

/* sarswati kumar pandey scrollable tabs css */

.slider-slide h3{
     color:#fff;
     margin-top:10px;
   }
   .scroll{
     height:100%;
   }

   .tabbed-slidebox .tsb-icons:after{
     display:none;
   }

/* sarswati kumar pandey scrollable tabs css */

.popupbirth {

}


/* sarswati kumar pandey popup2 css */


#madDiv{
   width:100%;


}
#footer {
   /*position: fixed;
   bottom: 0;*/
   width: 100%;

 /*line-height: 2;
 text-align: center;
 color: #042E64;
 font-size: 30px;
 font-family: sans-serif;
 font-weight: bold;
 text-shadow: 0 1px 0 #84BAFF;
 box-shadow: 0 0 15px #00214B;*/
}
.md-button.md-default-theme.md-fab.md-primary:not([disabled]):focus, .md-button.md-default-theme.md-fab.md-primary:not([disabled]):hover, .md-button.md-default-theme.md-raised.md-primary:not([disabled]):focus, .md-button.md-default-theme.md-raised.md-primary:not([disabled]):hover {
 background-color: red;
}
.md-button.md-default-theme.md-fab.md-primary, .md-button.md-default-theme.md-raised.md-primary {
 color: #fff;
 background-color: #F05660;
}
.md-button.md-fab {
 z-index: 20;
 width: 100%;
 height: 56px;
 border-radius: 0;
 overflow: hidden;
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
 transition: .2s linear;
 transition-property: -webkit-transform, box-shadow;
 transition-property: transform, box-shadow;
}
.md-button.md-default-theme.md-fab {
 border-radius: 0;
}
.md-button.md-fab.md-fab-bottom-right {
 /*top: auto;*/
 right: 0;
 bottom: 0;
 left: auto;
 position: fixed;
}
.list .item.item-accordion {
 line-height: 80px;
 padding-top: 0;
 padding-bottom: 0;
 transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
 line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
 display: block !important;
}

table, th, td {
   /*border: 1px solid black;*/
}



#DivOnTop{
 position: fixed;
 top: 25%;
 left: 5%;
 width: 50%;
 z-index: 1;
}
#book{
z-index: 1;
}

#cover{
 height: 25% !important;
}
#Div1 {

 width: 25%;
}

#Div2 {

 width: 75%;

}

/*--------------------------------------------------------------------------------------------------doctor cover and profile*/
#container {
 margin: 0 auto;
 width: 100%;
}
#container-content{
/*border:solid 1px #cccccc;*/
padding:20px;
width:100%;
/*color:#cccccc;*/
}

#info_box {
 padding: 60px 50px 0px 10px;
 /* border: solid 1px #dedede; */
 width: 100%;
 background-color: #fff;
 margin-top: 200px;
}
#profile_img {
  background-color: #FFFFFF;
      border: 1px solid #DEDEDE;
      margin-left: 3%;
      margin-top: -125px;
      position: fixed;
      width: 128px;
      height: 128px;
      float: left;
}
.avatar_img{
padding:0px;
width: 126px;
height: 100%;
}

.doc_detail_doc_name {
  font-size: 17px;
    line-height: 1.5;
    /* margin-bottom: auto; */
    white-space: pre-wrap;
}

.doc_detail_doc_degree {
  margin-bottom: auto;
  margin-top: -13px !important;
}

.margin_speciality {
  color: #9D9EA0;
    overflow: visible;
margin-top: -6px !important;
text-transform: uppercase;
font-size: 12px;
line-height: 1.3;
}

#cover_container{
overflow: auto;
width: 100%;

}


#info-box {
 /*margin-left: 40%;*/
 left:160px;
 margin-top: -110px;
 position: fixed;
}
#info-name{
float:left;
overflow:hidden;
word-wrap: break-word;
width:100%;
}

#info-content{
margin-left:170px;
width:290px;
}

#info-photos{
text-align:center;
font-size:11px;
padding:5px;
float:left;
width:80px;
border:solid 1px #eeeeee;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

#info-friends{
text-align:center;
font-size:11px;
padding:5px;
margin-left:100px;
border:solid 1px #eeeeee;
width:80px;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

/* Edited by Sarswati Kumar pandey */

.full-image-1 {
 width: inherit;
 padding: 10px;
 margin-top: 10px;
}

/*.row-1 {
 display: -webkit-box;
 display: -webkit-flex;
 display: -moz-box;
 display: -moz-flex;
 display: -ms-flexbox;
 display: flex;
 padding: 1px;
 width: 100%;
 margin-bottom: -7%;
}*/

/* css for loginHome.html */

.backgroundLoginHome {
 /* top: 100px; */
}

.logologinHome {
   /*background: url(./kidorologo.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;

   height: 100px;
   margin: auto;
   margin-top: 10%;
   z-index: 1;*/
   /* width: 100%; */
   position: static;
   height: 100%;
}

.adjustLoginHome {
margin-left: 5%;
margin-right: 5%;
height: 100%;
}



   border-left-width: none;}

/* css for loginHome.html */

/* css for welcomeHome.html */

.h3 {
 font-size: 24px;
 color: purple;
 text-align: center; }

.h5 {
 font-size: 14px;
 text-align: center; }

#mobileNumber {
 font-size: 14px;
 text-align: center;
 color: #757575;}

.upper {
 background-color: white;
 padding-bottom: 100%;
 padding-top: 5%;
}
.lower {
 margin-left: 5%;
 margin-right: 5%;
}


.fpwd{
margin-top: 3%;
margin-bottom: 5% !important;
text-align: right;
width: inherit;
margin-left: -25px;
}

.resendotp {
margin-top: 15px;
}


.a1 {
text-decoration: none;
color: #757575;
/* text-align: -webkit-right !important; */
}

.a2 {
  text-decoration: underline;
      color: #545454;
      /* text-align: -webkit-right !important; */
      font-weight: 500;
}

#welcomeLoginBackground {
 background-color: azure;
 padding-top: 4%;
}

.registerHomeBackground {
 background-color: azure;
}

/* css for welcomeHome.html */


#manualOTPLabel {
 text-align: center;
 }


.adjustRegisterMargin {
margin-left: 10%;
margin-right: 10%;

}

#adjustRegisterButton {
margin-top: 5%;
}

#adjustLoginButton {
 margin-top: 10%;
}

#adjustConfirmButton {
 margin-top: 5%;
}

#adjustShareButton {
 text-align: center;
 margin-top: 10%;

}

#adjustDoneButton {
 margin-top: 1%;
}

.kidoroCode {
 text-align: center;
 height:100px;
 width: 100%;
}

.adjustSendButton {
 margin-top: 10%;
}

.item-floating-label-1 {
 display: block;
 background-color: transparent;
 box-shadow: none;
 border-left: none;
 border-right: none;
 border-top: none;
 border-bottom: none;
}

.item-floating-label-1 input {
 border-bottom: 1.4px solid #939597 !important;
 vertical-align: baseline; }

.item-floating-label-1 input:focus {
 outline: none;
 border-bottom: 1.4px solid #009999 !important; }


.strike {
       display: block;
       text-align: center;
       color: #757575;
       overflow: hidden;
       white-space: nowrap;
       margin-left: 30%;
       margin-right: 30%;
       margin-top: 0px;

       margin-bottom: 0px;
}

.strike > span {
       position: relative;
       display: inline-block;
       color: #b2b2b2;
   }

.strike > span:before,
.strike > span:after {
       content: "";
       position: absolute;
       top: 50%;
       width: 99px;
       height: .5px;
       background: #b2b2b2;}

.strike > span:before {
       right: 100%;
       margin-right: 5px;
   }

.strike > span:after {
       left: 100%;
       margin-left: 5px;
   }

}

/* Edited by Sarswati Kumar pandey */

.item-checkbox {
  padding-left: 10px;
}

/*aditya */

.cust_button_social{
 margin: 0 !important;
 border-width: 0 !important;
}
.cust_button_border{
 border-right-color: #138C89;
 border-right-width:1px !important;
}
.cust_button_border_1{
 border-left-color: #4077ad !important;
 border-left-width:1px !important;
 border-top: none;
 border-right: none;
 border-bottom: none;
}

.cust_button_border_2{
 border-left-color: #e76b46 !important;
 border-left-width:1px !important;
 border-top: none;
 border-right: none;
 border-bottom: none;
 margin-bottom: 0px !important;
}

.cust_icon_social_1 {
border:none;
background-color: #4077ad !important;
/*max-width: 50px !important;*/  /* Aditya */
max-width: 4% !important; /* Pradeep Siddappa*/
}
.cust_icon_social_2 {
border:none;
background-color: #e76b46 !important;
 /*max-width: 50px !important;*/  /* Aditya */
max-width: 4% !important; /* Pradeep Siddappa*/
margin-bottom: 0px !important;
}
.cust_col_social{
 margin: 0 !important;
}
.block_1{
 /* margin-top: 10%; */
 /* margin-bottom: 10%; */
 /* height: 20%; */
 height: 100%;
 width: 100%;
}
.cust_col{
 padding: 0 !important;
}

.cust_row{
 padding: 0px;
 /* margin-top: 0px !important; */
 margin-bottom: 0px !important;
 /* margin-bottom: 0px !important; */
 /* margin-top: 0px !important; */
}

 .button.button-facebook {
   border-color: #0c63ee;
   background-color: #4f80ba;
   color: #fff;
   /* height: 10%; */
   /* margin: 5px; */
   margin-top: 0px;
   margin-bottom: 0px;
}
   .button.button-facebook:hover {
     color: #fff;
     text-decoration: none; }
   .button.button-facebook.active, .button.button-facebook.activated {
     border-color: #0c63ee;
     background-color: #4077ad;
     box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
   .button.button-facebook.button-clear {
     border-color: transparent;
     background: none;
     box-shadow: none;
     color: #4f80ba; }
   .button.button-facebook.button-icon {
     border-color: transparent;
     background: none; }
   .button.button-facebook.button-outline {
     border-color: #387ef5;
     background: transparent;
     color: #4f80ba; }
     .button.button-facebook.button-outline.active, .button.button-facebook.button-outline.activated {
       background-color: #4f80ba;
       box-shadow: none;
       color: #fff; }

 .button.button-google {
   border-color: #0c63ee;
   background-color: #f1794b;
   color: #fff; }
   .button.button-google:hover {
     color: #fff;
     text-decoration: none; }
   .button.button-google.active, .button.button-google.activated {
     border-color: #0c63ee;
     background-color: #e76b46;
     box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
   .button.button-google.button-clear {
     border-color: transparent;
     background: none;
     box-shadow: none;
     color: #f1794b; }
   .button.button-google.button-icon {
     border-color: transparent;
     background: none; }
   .button.button-google.button-outline {
     border-color: #387ef5;
     background: transparent;
     color: #f1794b; }
     .button.button-google.button-outline.active, .button.button-google.button-outline.activated {
       background-color: #f1794b;
       box-shadow: none;
       color: #fff; }


  .button .icon::before, .button.icon::before, .button.icon-left::before, .button.icon-right::before{
         margin: 0 0 0 5px;
       }

   .button.button-royal-1 {
    background-color: #009999;
   color: #fff;
  border-right-width: thin;
   border-left-width: thin;
    /*margin-top: 2% !important;*/
}

.button.button-royal-3 {
 background-color: #009999;
 color: #fff;
 border: 0px;
 /*margin-top: 2% !important;*/
}

.button.button-royal-4 {
 background-color: #009999;
 color: #fff;
 border: 0px;
 box-shadow: none !important;
 /*right: 15px !important;*/

}

.btn_space_top {
margin-top: 15% !important;
}

   .button.button-royal-1:hover {
     color: #fff;
     text-decoration: none; }


   .button.button-royal-1.active, .button.button-royal-1.activated {

     border:0px; /* by saras removed first login button border */
     background-color: #138c89;
     box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
   .button.button-royal-1.button-clear {
     border-color: transparent;
     background: none;
     box-shadow: none;
     color: #886aea; }
   .button.button-royal-1.button-icon {
     border-color: transparent;
     background: none; }
   .button.button-royal-1.button-outline {
     border-color: #886aea;
     background: transparent;
     color: #886aea; }
     .button.button-royal-1.button-outline.active, .button.button-royal-1.button-outline.activated {
       background-color: #009999;
       box-shadow: none;
       color: #fff; }


.button.button-royal-2 {
   color: white;
   background-color: #8a6de9;
   border-color: #552bdf;
   border-right-width: thin;
 }

 .login_block_1{
   text-align: center;

   }

   .login_block_2{
   text-align: center;
}


.cust_item_input{
 padding:20px 30px 5px !important;
}
.cust_item_input_last{
 padding: 20px 30px 5px 30px !important;
 margin-bottom: 30px;
}

.cust_item_input_id{
 padding:0 30px 35px 30px !important;
}
.cust_item_input_last_otp{
 /* padding:10% 80px 35px 80px !important; */
 margin-left: 70px;
 margin-right: 70px;
}

.cust_item_input_last_otp input{
 text-align: center !important;
 width: 100%;
}

.cust_item_input_1{
 padding:20px 30px 25px 30px !important;
}

.login_artwork {
   text-align: center;
/* padding: 40px 0 10px;*/
   padding: 2% 0 6%;  /*Pradeep Siddappa*/
}

.login_title {
   color: #009999;
   font-size: 24px;
}
.login_sub_title {
   padding: 10px;
   color: #ffbbc6;
}

.mobile_number{
     font-size: 16px;
   padding: 0 0 10px;
   margin-top: 10% !important;
}

.skew {
   background: #dddddc none repeat scroll 0 0;
   height: 80px;
   margin-left: 80px;
   margin-top: 9px;
   position: absolute;
   -webkit-transform: skew(3deg, -1deg);/* Saf3.1+, Chrome */
   -moz-transform: skew(3deg, -1deg); /* FF3.5+ */
   -ms-transform: skew(3deg, -1deg); /* IE9 */
   -o-transform: skew(3deg, -1deg); /* Opera 10.5+ */
   transform: skew(3deg, -1deg);
   width: 150px;
   z-index: -1;
}

.rect {
   background: #8cd2d0 none repeat scroll 0 0;
   height: 80px;
   margin-left: 85px;
   margin-top: 5px;
   position: absolute;
   width: 150px;
   z-index: 1;
}

.dot-rect {
   background: #8cd2d0 none repeat scroll 0 0;
   border: 1px dashed #fff;
   color: #fff;
   height: 60px;
   margin-left: 95px;
   margin-top: 15px !important;
   position: absolute;
   text-align: center;
   width: 130px;
   z-index: 200;
   padding: 7px;
}

.dot-rect span{
 font-size: 22px;
}

.bar {
 height: 55px !important ;
 background-color: #009999;
 border-color: rgba(0, 153, 153, 0);
;
}

.bar.bar-royal {
 background-color: #009999;
 border-color:#009999;
 background-image: linear-gradient(0deg, #009999, #009999 50%, transparent 50%);
}


.title{
 top:5px !important;
}

.home_page_slider{
 margin: 0;
 height: 310px;
}



/*Pradeep Siddappa*/
/* listing share*/

.ng-binding {
 margin-top: 0px;
}

.item.item-body {
   padding: 0px;
}

}
/*
h2.ng-binding {
   font-size: 16px;
   text-transform: uppercase;
   color: #4D4D4E;
}

.item {
   border-color: #ddd;
   background-color: #fff;
   color: #444;
   z-index: 2;
   display: block;
   margin: -4px;
   border-style: none;
   font-size: 16px;
 padding-left: 9px;
}*/

.cus_row {
   padding-top: 0px;
   padding-bottom: 5px ;
}

p.simple_content {
   margin-left: 10px;
   margin-right: 10px;
   text-align: justify;
   margin-top: 0px;
}

.title_content {
   font-size: 14px;
   text-transform: uppercase;
   padding-left: 15px;
   padding-right: 15px;
   margin-top: 16px;
   color: #504D4D;
   font-weight: bold;
  /* text-align: justify;*/
}

.date_content {
   font-size: 13px;
   padding-left: 15px;
   margin-top: -17px;
}

.share_content{
     margin-top: -50px;
}

.link_content {
  margin: 15px 20px;
    font-size: 11px;
    color: #66D0D0;
    font-weight: bolder;

}

/* rss images*/
/*.ion-ios-heart{
 content: url('../img/like.png') !important;
 height: 25px;

}*/

.ion-ios-heart-new{
 content: url('../img/favRSSb4.png') !important;
 /*height: 25px;*/
 width: 100%;
}

.ion-ios-heart-new-after{
 content: url('../img/favRSSafter.png') !important;
 /*height: 25px;*/
 width: 100%;
}

/*.ion-android-share-alt {
 content: url('../img/share.png') !important;
 height: 25px;
 }*/

 .ion-android-share-alt-new {
  content: url('../img/shareRSS.png') !important;
  /*height: 25px;*/
  width: 100%;
  }

a.icon.ion-android-share-alt {
   float: right;
  /* margin-right: -8px;*/
}

a.icon.ion-ios-heart {
   float: right;
   /*margin-right: -60%;*/
}

/* content share*/
.ion-ios-heart_content {
 content: url('../img/favRSSb4.png') !important;
 height: 25px;
 /*width: 15%;*/
}

.ion-ios-heart-outline {
font-size: 25px;
color: #fff;
}

.margin_icons {
  margin-top: 10px !important;
}

.ion-android-share-alt {
  font-size: 25px;
  color: #fff;
}

.ion-android-share-alt:before {
    content: "\f3ac";
    font-size: 25px !important;
}

.ion-android-share-alt_content {
 content: url('../img/shareRSS.png') !important;
 height: 25px;
 /*width: 15%;*/
}
/*
a.icon.ion-android-share-alt_content {
   float: right;
   margin-right: 6px;
}

a.icon.ion-ios-heart_content {
   float: right;
   margin-right: -130px;
}*/

.full_content {
   margin: 15px 20px;
/*    text-align: justify;
*/    font-size: 14px;
 }

.full_content a {
   color: #444;
   text-decoration:underline;
   /*pointer-events: none;*/
}

.full_content img {
   width: 100%;
   height: auto;
   pointer-events: none;
}

.full_content h2 {
   font-size: 17px;
   margin: 0px;
}

.full_content center {
   display: none;
}

.full_content br {
   display: none;
}


a[rel="nofollow"] {
   pointer-events: none;
/*    display: none;
*/}

.item-avatar-right > img:first-child{
     border-radius: 0;
   }

.title_list h2 {
   white-space: normal !important;
   padding-bottom: 6px;
   font-weight: bold;
   font-size: 14px !important;
}
.chatLogin{
  margin-top: 15px;

    min-height: 15px!important;
    width: 140px;
}
.cat_list {
   background-color: rgba(237, 130, 35, 0.7);
   color: #fff;
   font-size: 12px;
   padding: 5px 5px;
   margin-right: 7px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 20px;
   border: 0;
}



#logo {
    position: absolute;
    top: 20%;
    width: 90%;
}
/* Diagnostics Header Bar */
.icon .ion-ios-checkmark-empty:before {
     font-size: 45px;

}

.rem_padding {
 padding: 0;
}


 /*End of Pradeep Siddappa*/

 /*--------------------------date picker-----------------------------*/
 .selected_date_full {
   color: #387EF5;
   font-weight: bold;
   text-align: center;
   padding-bottom: 5px;
 }

 .color_blue {
   color: rgb(56, 126, 245) !important;
 }

 .bg_color_blue {
   background-color: rgb(56, 126, 245);
 }

 .date_col:hover {
   background-color: rgba(56, 126, 245, 0.5);
   cursor: pointer;
 }

 .date_col:active {
   background-color: rgba(56, 126, 245, 1);
   cursor: pointer;
 }

 .no_padding {
   padding: 0;
 }

 .date_cell {
   padding: 5px;
 }

 .date_selected {
   background-color: rgba(56, 126, 245, 1) !important;
 }

 .today {
   background-color: rgba(186, 186, 186, 1);
 }

 .pointer_events_none {
   pointer-events: none !important;
   color: #AAAAAA;
 }

 .select_section {
   padding: 0;
 }

 .select_section label {
   padding: 12px;
 }

 .select_section select {
   font-size: 12px;
   font-weight: bold;
   padding: 2px 10px;
   direction: ltr;
   left: 0;
   width: 100%;
   max-width: 100%;
 }

 .select_section .item-select:after {
   right: 4px;
   border-top: 4px solid;
   border-right: 4px solid rgba(0, 0, 0, 0);
   border-left: 4px solid rgba(0, 0, 0, 0);
 }

 .left_arrow {
   direction: rtl;
 }

 .right_arrow {

 }
 .ionic_datepicker_modal_content .selected_date_full {
   font-size: 20px;
 }
 .font_22px {
   font-size: 22px;
 }
 .ionic_datepicker_modal_content {
   padding-top: 10%;
 }
 .ionic_datepicker_modal_content .selected_date_full{
   padding: 20px;
 }
 @media (min-width: 680px) {
   .ionic_datepicker_modal_content {
     padding-top: 0;
   }
   .ionic_datepicker_modal_content .selected_date_full {
     font-size: inherit;
   }
   .ionic_datepicker_modal_content .selected_date_full{
     padding: 10px 0 0 0;
   }
 }

 .splashLogo {
    position: absolute;
    width: 80%;
    max-height: 45%;
    top: 50%;
    left: 50%;
    overflow: visible;
}
 .splashImg{
 position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: -50%;
    margin-left: -50%;
 }
 .splashLoading{
    position: absolute;
    top: 80%;
    right: 45%;
 }
.imgstyle{
      max-height: 50px;
    margin-left: -65px;
    border-radius: 100%;
}
.notify{
      font-size: 30px;
    padding-top: 8px;
  }
  .notifyBadge{
    left: 34%;
        position: absolute!important;
  }
  .notificationBtn_rgt{
float: left;
color: #009999;
font-size: 14px;
width: 50%;
}
.notificationBtn_lft{
 color: #009999;
font-size: 14px;
float: right;
margin-right: 35px;
width: 25%;
}

hr{
 border-width: 1px;
 display: block;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-right: 35px;
}
.notification_toggle{
 border:none;
   border-color: none !important;
   background-color: none !important;
   border-width: none !important;
   margin:15px;
       margin-right: 20px;
}
.imageCenter{
      text-align: center;
    padding-top: 15%;
    display: block;
}
.notificationDate{
  font-size: 9px;
margin-top: 8px;
}
.notificationName{
  padding-top: 7%;
font-size: medium;
}
.notificationIcon{
  
  width: 50px;
}
.notificationSubname{
  color: #009999;
}
.hrTag{
  /* border-bottom-color: red; */
border: 0px;
/* color: #E03232; */
background-color: #CCCCCC;
height: 1px;
}
.card_shadow{
 box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.button_shadow{
 box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.dailogBox_shadow{
 box-shadow: 0px 2px 36px 0px rgba(0,0,0,0.16);
}
.profilePic_shadow{
 box-shadow: 0px 1px 8px 0px !important;
}
.popup{
  width: 80% !important;
  height: 50% !important;
}